﻿@using GridMvc.Html;
@using GridMvc.Html;
@using GridMvc.Pagination
@using GridMvc.Sorting
@using GlobalAssure.Models;
<style>
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border: 1px solid #ddd !important;
    }

    .table > thead > tr > th {
        border: 1px solid #ddd !important;
    }


    a:hover {
        color: blue;
        text-decoration: none;
    }


    .ClaimDetailDialogMain-dialog .modal-dialog {
        width: 90%;
        overflow: auto;
    }

    .bootstrap-dialog.type-primary .modal-header {
        background-color: #32419c;
    }
</style>


<div class="col-lg-12 col-sm-12" id="divabc" style="margin-top: 5px; overflow-x:scroll">
    @model Grid.Mvc.Ajax.GridExtensions.AjaxGrid<AssistVendroDetail>
    @Html.Grid(Model).WithMultipleFilters().Named("SearchAssistGrid").Columns(columns =>
{
    //    columns.Add(c => c.AssistId)
    //.Titled("View/Edit")
    //.Filterable(false).Sanitized(false).Encoded(false)
    //.RenderValueAs(o => Html.ActionLink("View/Edit", "", "", new { @onclick = "GetAssistDetails('" + o.AssistId + "');return false" }).ToHtmlString());
    columns.Add(c => c.AssistId)
.Titled("View")
.Sanitized(false).Encoded(false)
.RenderValueAs(o => Html.ActionLink("View", "GetAssistViewDetailForVendorOEM", "Assistance", new { AssitId = o.AssistId }, htmlAttributes: null));
    //    columns.Add(c => c.AssistNo)
    //.Titled("View Audit")
    //.Filterable(false).Sanitized(false).Encoded(false)
    //.RenderValueAs(o => Html.ActionLink("View Audit", "", "", new { @onclick = "GetAssistAuditDetails('" + o.AssistId + "');return false" }).ToHtmlString());
    columns.Add(c => c.Registration).Titled("Vehicle Registration").Filterable(true);
    columns.Add(c => c.RefNo).Titled("Reference No").Filterable(true);
    columns.Add(c => c.ContactNo).Titled("Contact No").Filterable(true);
    columns.Add(c => c.CreatedDate).Titled("Reported Date").Filterable(true);
    columns.Add(c => c.Action).Titled("Action").Filterable(true);
    columns.Add(c => c.Status).Titled("Status").Filterable(true);
    columns.Add(c => c.CompanyName).Titled("Company Name").Filterable(true);
    //columns.Add(c => c.VendorName).Titled("Vendor Name").Filterable(true);
    //columns.Add(c => c.BranchName).Titled("Branch Name").Filterable(true);
    columns.Add(c => c.VendorAssignedDateTime).Titled("Vendor Assign Date/Time").Filterable(true);
    columns.Add(c => c.VendorReachedIncidentLocationDateTime).Titled("Vendor Reached in Incident Location Date/Time").Filterable(true);
    columns.Add(c => c.VendorReachedDropLocationDateTime).Titled("Vendor Reached in Drop Location Date/Time").Filterable(true);
}).WithPaging(10).Filterable(true)
</div>


<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<script src="~/Scripts/gridmvc-ext.js"></script>
<script src="~/Scripts/gridmvc.lang.ru.js"></script>
<script src="~/Scripts/gridmvc.customwidgets.js"></script>
<script src="~/Scripts/URI.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        var AssistRefNo = '@ViewBag.RefNo';
        var FirstName = '@ViewBag.FirstName';
        var LastName = '@ViewBag.LastName';
        var EngineNo = '@ViewBag.EngineNo';
        var ChassisNo = '@ViewBag.ChassisNo';
        var MobileNo = '@ViewBag.MobileNo';
        var FromDate = '@ViewBag.FromDate';
        var ToDate = '@ViewBag.ToDate';
        var OEMId = '@ViewBag.OEMId';
        var CompanyId = '@ViewBag.CompanyId';

        if ('@TempData["Load"]' == "FirstTime") {

            $.ajaxSetup({
                cache: false
            });
            pageGrids.SearchAssistGrid.ajaxify({
                getData: '@Url.Content("~/Assistance/SearchAssistViewOEMNextPage?FromDate=")' + FromDate + '&ToDate=' + ToDate + '&RefNo=' + AssistRefNo + '&FirstName=' + FirstName + '&LastName=' + LastName + '&EngineNo=' + EngineNo + '&ChassisNo=' + ChassisNo + '&MobileNo=' + MobileNo + '&OEMId=' + OEMId + '&CompanyId=' + CompanyId,
                getPagedData: '@Url.Content("~/Assistance/SearchAssistViewOEMNextPage?FromDate=")' + FromDate + '&ToDate=' + ToDate + '&RefNo=' + AssistRefNo + '&FirstName=' + FirstName + '&LastName=' + LastName + '&EngineNo=' + EngineNo + '&ChassisNo=' + ChassisNo + '&MobileNo=' + MobileNo + '&OEMId=' + OEMId + '&CompanyId=' + CompanyId,
            });
        }
    });

</script>