﻿
@{
    ViewBag.Title = "AssistView";
}

<h2 class="main-title text-center" style="color:#716f6f !important"></h2>
<div class="panel panel-default">
    <div class="panel-heading">
        <p class="active-class" style="color:#fff"><strong>Search</strong></p>
    </div>
    <div class="width-0 panel-body" style="background-color: #fff">
        <div style="margin:5px 5px 3px 49px">

            <div class="col-md-4">
                <label><span>&nbsp;</span></label>
                <div class="form-group">
                    <div>
                        <label>Assist Reference No</label>
                    </div>
                    <input type="text" class="form-control removeBackgroundcolor" id="txtRefNo" />
                </div>
            </div>

            <div class="col-md-4">
                <label><span>&nbsp;</span></label>
                <div class="form-group">
                    <div>
                        <label>Customer First Name</label>
                    </div>
                    <input type="text" class="form-control removeBackgroundcolor" id="txtCustomerFirstName" />
                </div>
            </div>

            <div class="col-md-4">
                <label><span>&nbsp;</span></label>
                <div class="form-group">
                    <div>
                        <label>Customer Last Name</label>
                    </div>
                    <input type="text" class="form-control removeBackgroundcolor" id="txtCustomerLastName" />
                </div>
            </div>

            <div class="col-md-4">
                <label><span>&nbsp;</span></label>
                <div class="form-group">
                    <div>
                        <label>Engine No</label>
                    </div>
                    <input type="text" class="form-control removeBackgroundcolor" id="txtEngineNo" />
                </div>
            </div>

            <div class="col-md-4">
                <label><span>&nbsp;</span></label>
                <div class="form-group">
                    <div>
                        <label>Chassis No</label>
                    </div>
                    <input type="text" class="form-control removeBackgroundcolor" id="txtChassisNo" />
                </div>
            </div>

            <div class="col-md-4">
                <label><span>&nbsp;</span></label>
                <div class="form-group">
                    <div>
                        <label>Customer Contact No</label>
                    </div>
                    <input type="text" class="form-control removeBackgroundcolor" id="txtCustomerContactNo" />
                </div>
            </div>

            <div class="col-md-4">
                <label><span>&nbsp;</span></label>
                <div class="form-group">
                    <div>
                        <label>From Date</label>
                    </div>
                    <input type="text" class="form-control removeBackgroundcolor" id="txtFromDate" readonly />
                </div>
            </div>

            <div class="col-md-4">
                <label><span>&nbsp;</span></label>
                <div class="form-group">
                    <div>
                        <label>To Date</label>
                    </div>
                    <input type="text" class="form-control removeBackgroundcolor" id="txtToDate" readonly />
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-sm-12">
            <div class="col-lg-4 col-sm-4"></div>
            <div class="col-lg-12 col-sm-6 form-group text-center">
                <input type="button" value="Search" id="btnSearch" style="margin:05% 3% 05% 0%" ; class="btn btn-primary" />
                <input type="button" value="Refresh" id="btnRefresh" ; class="btn" />
            </div>
        </div>
    </div>

    <div id="CertificateGrid" style="overflow:auto;"></div>
</div>


<script>

    $("#txtFromDate").datepicker({

        todayHighlight: true,
        format: 'dd/mm/yyyy',
        autoclose: true,
    }).on('changeDate', function (selected) {

        startDate = new Date(selected.date.valueOf());
        var day = startDate.getDate();
        var mont = startDate.getMonth() + 1;
        var year = startDate.getFullYear();
        if (day < 10) day = "0" + day;
        if (mont < 10) mont = "0" + mont;
        var newDate = mont + "/" + day + "/" + year;
        $('#txtToDate').datepicker('setStartDate', new Date(newDate));
    });


    $("#txtToDate").datepicker({

        todayHighlight: true,
        format: 'dd/mm/yyyy',
        autoclose: true,
    }).on('changeDate', function (selected) {

        startDate = new Date(selected.date.valueOf());
        var day = startDate.getDate();
        var mont = startDate.getMonth() + 1;
        var year = startDate.getFullYear();
        if (day < 10) day = "0" + day;
        if (mont < 10) mont = "0" + mont;
        var newDate = mont + "/" + day + "/" + year;
        $('#txtFromDate').datepicker('setEndDate', new Date(newDate));
    });


    $('#btnRefresh').click(function () {

        window.location.reload();
    });


    $(document).ready(function () {      

        loadGrid();

        $("#btnSearch").click(function () {

            loadGrid();
        });

        function loadGrid() {
           
            var RefNo = $("#txtRefNo").val();
            var FirstName = $("#txtCustomerFirstName").val();
            var LastName = $("#txtCustomerLastName").val();
            var EngineNo = $("#txtEngineNo").val();
            var ChassisNo = $("#txtChassisNo").val();
            var MobileNo = $("#txtCustomerContactNo").val();
            var FromDate = $("#txtFromDate").val();
            var ToDate = $("#txtToDate").val();

            $.ajax({

                url: '@Url.Action("SearchAssistView", "Assistance")',
                data: { RefNo: RefNo, FirstName: FirstName, LastName: LastName, EngineNo: EngineNo, ChassisNo: ChassisNo, MobileNo: MobileNo, FromDate: FromDate, ToDate: ToDate },
                datatype: 'json',
                type: "POST",
                beforeSend: function () {

                    $("#LoadingImage").show();
                },
                success: function (result) {

                    if (result.status == '@CrossCutting_Constant.Success') {

                        $('#CertificateGrid').empty().append(result.Html);
                    }
                    else {

                        AlertMessage("//Please Try Again", "5000", "fail");
                    }
                }
            });
        }
    });

</script>