﻿@using Microsoft.AspNet.Identity
@using System.Web.Configuration

@model GlobalAssure.Models.AssistModel

@{
    int tieupcompany = Convert.ToInt32(ViewData["TieUpCompany"]);

    string UserName = Convert.ToString(User.Identity.Name).ToLower();
    string[] DataEntryUser = WebConfigurationManager.AppSettings["DataEntry"].ToLower().Split(',');
}

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCy2EmtD8a7hZO955tU3qyb4JqVOw3Jof4&libraries=places&callback=initAutocomplete"
        async defer></script>




<style>
    .ClaimDetailDialogMain-dialog .modal-dialog {
        width: 90%;
        overflow: auto;
    }

    .bootstrap-dialog.type-primary .modal-header {
        background-color: #32419c;
    }



    .ui-autocomplete {
        z-index: 100000 !important;
        display: block;
    }

    .modal-backdrop {
        z-index: 1040 !important;
    }


    /*Google map address style*/

    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }





    #locationField, #controls {
        position: relative;
        width: 480px;
    }

    #autocomplete {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
    }

    .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
        font-family: "Roboto";
    }

    #address {
        border: 1px solid #000090;
        background-color: #f0f9ff;
        width: 480px;
        padding-right: 2px;
    }

        #address td {
            font-size: 10pt;
        }

    .field {
        width: 99%;
    }

    .slimField {
        width: 80px;
    }

    .wideField {
        width: 200px;
    }

    #locationField {
        height: 20px;
        margin-bottom: 2px;
    }

    .pac-container {
        z-index: 2000;
    }

    .close {
        font-size: 35px !important;
        opacity: 1 !important;
    }

    .mandatory {
        color: red;
        font-size: 14px;
        font-weight: bold;
        padding-left: 5px;
        float: right;
    }

    /*end google map*/
</style>
@using (Html.BeginForm("", "", FormMethod.Post, new { Id = "frmAssist" }))
{

    if (DataEntryUser.Contains(UserName))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="active-class" style="color:#fff"><strong>Customer Details</strong></p>
            </div>
            <div class="width-0 panel-body" style="background-color: #fff">
                <div>
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>First Name</label>
                            </div>
                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Last Name</label>
                            </div>
                            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Email</label>
                            </div>
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Mobile No</label>
                            </div>
                            @Html.TextBoxFor(x => x.Mobile, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>


                </div>
            </div>

            <div class="panel-heading">
                <p class="active-class" style="color:#fff"><strong>Certificate Details</strong></p>
            </div>
            <div class="width-0 panel-body" style="background-color: #fff">
                <div>
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Certificate No</label>
                            </div>
                            @Html.TextBoxFor(x => x.CertificateNo, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Certificate Start Date</label>
                            </div>
                            @Html.TextBoxFor(x => x.CertificateStartDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Certificate End Date</label>
                            </div>
                            @Html.TextBoxFor(x => x.CertificateEndDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Make</label>
                            </div>
                            @Html.TextBoxFor(x => x.Make, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Model- Variant</label>
                            </div>
                            @Html.TextBoxFor(x => x.Model, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Engine No</label>
                            </div>
                            @Html.TextBoxFor(x => x.EngineNo, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Chassis No</label>
                            </div>
                            @Html.TextBoxFor(x => x.ChassisNo, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Registration No</label>
                            </div>
                            @Html.TextBoxFor(x => x.RegistrationNo, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Vehicle Year</label>
                            </div>
                            @Html.TextBoxFor(x => x.VehicleYear, new { @class = "form-control allow_only_numbers validate[custom[integer],maxSize[4],minSize[4],custom[sumIsZero]]", @maxlength = 4, })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Vehicle Color</label>
                            </div>
                            @Html.TextBoxFor(x => x.VehicleColor, new { @class = "form-control", @maxlength = 50 })
                        </div>
                    </div>

                </div>

            </div>




            <div class="panel-heading">
                <p class="active-class" style="color:#fff"><strong>Incident Details</strong></p>
            </div>
            <div class="width-0 panel-body" style="background-color: #fff">

                <div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Select Incident <span class="mandatory">*</span></label>
                            </div>

                            @Html.DropDownList("IncidentTypeId", new SelectList(Model.lstIncidentType, "Value", "Text"), "Select Incident", new { @class = "form-control validate[required]", @maxlength = 2000 })

                        </div>
                    </div>
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Incident Details <span class="mandatory">*</span>s</label>
                            </div>
                            @Html.DropDownList("IncidentDetailId", new SelectList(Model.lstIncidentDetails, "Value", "Text"), "Incident Details", new { @class = "form-control validate[required]", @maxlength = 2000, @id = "ddlIncidentDetails" })
                            @Html.HiddenFor(x => x.IncidentDetailId)
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Mobile No/ Additional Details <span class="mandatory">*</span></label>
                            </div>
                            @Html.TextAreaFor(x => x.Issue, new { @class = "form-control validate[required]", @maxlength = 2000 })
                        </div>
                    </div>

                    @if (tieupcompany != CrossCutting_Constant.TieUpRelianceAssist)
                    {
                        <div class="col-md-4 ">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Select Location</label>
                                </div>
                                @Html.TextBox("Address", null, new
                           {
                               @class = "form-control validate[required]",
                               @maxlength = 1000,
                               @id = "autocomplete",
                               @placeholder = "Enter your address",
                               @onFocus = "geolocate()",
                               @style = "position: relative;"

                           })
                                @Html.HiddenFor(x => x.Address, new { @id = "apiAddress" })
                            </div>
                        </div>
                    }
                    else
                    {

                        <div class="col-md-4 ">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Select Location</label>
                                </div>
                                @Html.TextBox("Address", null, new
                           {
                               @class = "form-control",
                               @maxlength = 1000,
                               @id = "autocomplete",
                               @placeholder = "Enter your address",
                               @onFocus = "geolocate()",
                               @style = "position: relative;"

                           })
                                @Html.HiddenFor(x => x.Address, new { @id = "apiAddress" })
                            </div>
                        </div>
                    }

                    <div class="col-md-4 geoDetails">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Address</label>
                            </div>
                            @Html.TextBoxFor(x => x.StreetAddress, new { @class = "form-control ", @maxlength = 1000, @id = "street_number", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-md-4 geoDetails">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Location</label>
                            </div>
                            @Html.TextBoxFor(x => x.location, new { @class = "form-control ", @maxlength = 100, @id = "route", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4 geoDetails">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>City</label>
                            </div>
                            @Html.TextBoxFor(x => x.City, new { @class = "form-control ", @maxlength = 100, @id = "locality", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4 geoDetails">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>State</label>
                            </div>
                            @Html.TextBoxFor(x => x.State, new { @class = "form-control ", @maxlength = 100, @id = "administrative_area_level_1", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Landmark</label>
                            </div>
                            @Html.TextBoxFor(x => x.Landmark, new { @class = "form-control", @maxlength = 100 })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Pin Code</label>
                            </div>
                            @Html.TextBoxFor(x => x.PinCode, new { @class = "form-control allow_only_numbers validate[custom[integer],maxSize[6],minSize[6],custom[sumIsZero]]" })
                        </div>
                    </div>


                    <div class="col-md-4" style="padding-top: 31px;">
                        <label><span>&nbsp;</span> Vendor Allocation</label>
                        <div class="form-group">
                            @if (tieupcompany != CrossCutting_Constant.TieUpRelianceAssist)
                            {
                                <span>
                                    <label><span>&nbsp;</span> Manual </label>
                                    @Html.RadioButtonFor(x => x.Manual_Allocation, true, new { @id = "manualAllocation" })
                                </span>
                            }
                            else
                            {
                                <span>
                                    <label> <span> &nbsp;</span> Auto </label>
                                    @Html.RadioButtonFor(x => x.Manual_Allocation, false, new { @id = "autoAllocation" })
                                </span>
                            }
                        </div>
                        <div>

                        </div>
                    </div>
                    @if (tieupcompany != CrossCutting_Constant.TieUpRelianceAssist)
                    {
                        @*<div class="col-md-4" id="dvVendorName">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group">
                                    <div>
                                        <label>Select vendor branch name</label>
                                    </div>
                                    @Html.TextBoxFor(x => x.BranchName, new { @class = "form-control validate[required]", @id = "txtBranchName" })
                                    @Html.HiddenFor(x => x.Vendor_BranchID, new { @id = "Vendor_BranchID" })
                                </div>
                            </div>*@

                        <div class="col-md-4" id="dvVendorName">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Select Vendor Name</label>
                                </div>
                                @Html.DropDownList("ddlVendorName", new SelectList(Model.lstVendorName, "Value", "Text"), "Select Vendor Name", new { @class = "form-control validate[required]" })
                            </div>
                        </div>

                        <div class="col-md-4" id="dvVendorBranchName">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Select Vendor Branch Name</label>
                                </div>
                                @Html.DropDownList("ddlBranchName", new SelectList(Model.lstBranchName, "Value", "Text"), "Select Branch Name", new { @class = "form-control validate[required]" })
                                @Html.HiddenFor(x => x.Vendor_BranchID, new { @id = "Vendor_BranchID" })
                            </div>
                        </div>
                    }

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Assistance Summary<span class="mandatory">*</span></label>
                            </div>
                            @Html.TextAreaFor(x => x.AssistSummary, new { @class = "form-control validate[required]", @maxlength = 2000 })
                        </div>
                    </div>

                    @if (Model.Status == null)
                    {
                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Status</label>
                                </div>
                                @Html.DropDownListFor(x => x.StsId, Model.lstStatus, "Select", new { @class = "form-control", @disabled = "disabled", @id = "ddlSts" })
                                @*@Html.DropDownList("ddlSts", new SelectList(Model.lstStatus, "Value", "Text"), "Select", new { @class = "form-control", @disabled = "disabled" })*@
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Remark</label>
                                </div>
                                @Html.DropDownList("ddlRemark", new SelectList(Model.RemarkListItem, "Value", "Text"), "Select", new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    }
                    else if (Model.Status == "Not Assign to Vendor")
                    {
                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Status</label>
                                </div>
                                @Html.DropDownListFor(x => x.StsId, Model.lstStatus, "Select", new { @class = "form-control", @id = "ddlSts" })
                                @*@Html.DropDownList("ddlSts", new SelectList(Model.lstStatus, "Value", "Text"), "Select", new { @class = "form-control" })*@
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Remark</label>
                                </div>
                                @Html.DropDownList("ddlRemark", new SelectList(Model.RemarkListItem, "Value", "Text"), "Select", new { @class = "form-control" })
                            </div>
                        </div>
                    }
                    else if (Model.Status == "Vendor Closed Issue")
                    {
                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Status</label>
                                </div>
                                @Html.DropDownListFor(x => x.StsId, Model.lstStatus, new { @class = "form-control", @disabled = "disabled", @id = "ddlSts" })
                                @*@Html.DropDownList("ddlSts", new SelectList(Model.lstStatus, "Value", "Text"), "Select", new { @class = "form-control", @disabled = "disabled" })*@
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Remark</label>
                                </div>
                                @Html.DropDownListFor(x => x.RemId, Model.RemarkListItem, "Select", new { @class = "form-control", @disabled = "disabled", @id = "ddlRemark" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Status</label>
                                </div>
                                @Html.DropDownListFor(x => x.StsId, Model.lstStatus, "Select", new { @class = "form-control", @id = "ddlSts" })
                                @*@Html.DropDownList("ddlSts", new SelectList(Model.lstStatus, "Value", "Text"), "Select", new { @class = "form-control" })*@
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Remark</label>
                                </div>
                                @Html.DropDownList("ddlRemark", new SelectList(Model.RemarkListItem, "Value", "Text"), "Select", new { @class = "form-control" })
                            </div>
                        </div>
                    }

                </div>

                @* Googl Addres *@


                <table id="address" style="display:none">

                    <tr>
                        <td class="label">Country</td>
                        <td class="wideField" colspan="3"><input class="field" id="country" disabled="true" /></td>
                        <td class="wideField"><input class="field" id="postal_code" disabled="true" /></td>
                    </tr>
                </table>

                @* end google address *@



                <div class="col-lg-12 col-sm-12">
                    <div class="col-lg-4 col-sm-4"></div>
                    <div class="col-lg-12 col-sm-6 form-group text-center">
                        @*@if (Model.ActionID != CrossCutting_Constant.ActionID_Vendor_Accepted_Request && Model.Status != "Vendor Closed Issue")
                            {
                                <input type="button" value="Submit" id="btnSaveAssist" style="margin:05% 3% 05% 0%" ; class="btn btn-primary" />
                            }*@

                        @if (Model.Status != "Vendor Closed Issue")
                        {
                            <input type="button" value="Submit" id="btnSaveAssist" style="margin:05% 3% 05% 0%" ; class="btn btn-primary" />
                        }

                    </div>
                </div>
            </div>


        </div>
    }
    else
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="active-class" style="color:#fff"><strong>Customer Details</strong></p>
            </div>
            <div class="width-0 panel-body" style="background-color: #fff">
                <div>
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>First Name</label>
                            </div>
                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Last Name</label>
                            </div>
                            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Email</label>
                            </div>
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Mobile No</label>
                            </div>
                            @Html.TextBoxFor(x => x.Mobile, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>


                </div>
            </div>

            <div class="panel-heading">
                <p class="active-class" style="color:#fff"><strong>Certificate Details</strong></p>
            </div>
            <div class="width-0 panel-body" style="background-color: #fff">
                <div>
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Certificate No</label>
                            </div>
                            @Html.TextBoxFor(x => x.CertificateNo, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Certificate Start Date</label>
                            </div>
                            @Html.TextBoxFor(x => x.CertificateStartDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Certificate End Date</label>
                            </div>
                            @Html.TextBoxFor(x => x.CertificateEndDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Make</label>
                            </div>
                            @Html.TextBoxFor(x => x.Make, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Model- Variant</label>
                            </div>
                            @Html.TextBoxFor(x => x.Model, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Engine No</label>
                            </div>
                            @Html.TextBoxFor(x => x.EngineNo, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Chassis No</label>
                            </div>
                            @Html.TextBoxFor(x => x.ChassisNo, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Registration No</label>
                            </div>
                            @Html.TextBoxFor(x => x.RegistrationNo, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Vehicle Year</label>
                            </div>
                            @Html.TextBoxFor(x => x.VehicleYear, new { @class = "form-control allow_only_numbers validate[custom[integer],maxSize[4],minSize[4],custom[sumIsZero]]", @maxlength = 4, })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Vehicle Color</label>
                            </div>
                            @Html.TextBoxFor(x => x.VehicleColor, new { @class = "form-control", @maxlength = 50 })
                        </div>
                    </div>

                </div>

            </div>




            <div class="panel-heading">
                <p class="active-class" style="color:#fff"><strong>Incident Details</strong></p>
            </div>
            <div class="width-0 panel-body" style="background-color: #fff">

                <div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Select Incident <span class="mandatory">*</span></label>
                            </div>

                            @Html.DropDownList("IncidentTypeId", new SelectList(Model.lstIncidentType, "Value", "Text"), "Select Incident", new { @class = "form-control validate[required]", @maxlength = 2000 })

                        </div>
                    </div>
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Incident Details <span class="mandatory">*</span>s</label>
                            </div>
                            @Html.DropDownList("IncidentDetailId", new SelectList(Model.lstIncidentDetails, "Value", "Text"), "Incident Details", new { @class = "form-control validate[required]", @maxlength = 2000, @id = "ddlIncidentDetails" })
                            @Html.HiddenFor(x => x.IncidentDetailId)
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Mobile No/ Additional Details <span class="mandatory">*</span></label>
                            </div>
                            @Html.TextAreaFor(x => x.Issue, new { @class = "form-control validate[required]", @maxlength = 2000 })
                        </div>
                    </div>

                    @if (tieupcompany != CrossCutting_Constant.TieUpRelianceAssist)
                    {
                        <div class="col-md-4 ">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Select Location</label>
                                </div>
                                @Html.TextBox("Address", null, new
                           {
                               @class = "form-control validate[required]",
                               @maxlength = 1000,
                               @id = "autocomplete",
                               @placeholder = "Enter your address",
                               @onFocus = "geolocate()",
                               @style = "position: relative;"

                           })
                                @Html.HiddenFor(x => x.Address, new { @id = "apiAddress" })
                            </div>
                        </div>
                    }
                    else
                    {

                        <div class="col-md-4 ">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Select Location</label>
                                </div>
                                @Html.TextBox("Address", null, new
                           {
                               @class = "form-control",
                               @maxlength = 1000,
                               @id = "autocomplete",
                               @placeholder = "Enter your address",
                               @onFocus = "geolocate()",
                               @style = "position: relative;"

                           })
                                @Html.HiddenFor(x => x.Address, new { @id = "apiAddress" })
                            </div>
                        </div>
                    }

                    <div class="col-md-4 geoDetails">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Address</label>
                            </div>
                            @Html.TextBoxFor(x => x.StreetAddress, new { @class = "form-control ", @maxlength = 1000, @id = "street_number", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-md-4 geoDetails">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Location</label>
                            </div>
                            @Html.TextBoxFor(x => x.location, new { @class = "form-control ", @maxlength = 100, @id = "route", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4 geoDetails">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>City</label>
                            </div>
                            @Html.TextBoxFor(x => x.City, new { @class = "form-control ", @maxlength = 100, @id = "locality", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4 geoDetails">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>State</label>
                            </div>
                            @Html.TextBoxFor(x => x.State, new { @class = "form-control ", @maxlength = 100, @id = "administrative_area_level_1", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Landmark</label>
                            </div>
                            @Html.TextBoxFor(x => x.Landmark, new { @class = "form-control", @maxlength = 100 })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Pin Code</label>
                            </div>
                            @Html.TextBoxFor(x => x.PinCode, new { @class = "form-control allow_only_numbers validate[custom[integer],maxSize[6],minSize[6],custom[sumIsZero]]" })
                        </div>
                    </div>


                    <div class="col-md-4" style="padding-top: 31px;">
                        <label><span>&nbsp;</span> Vendor Allocation</label>
                        <div class="form-group">
                            @if (tieupcompany != CrossCutting_Constant.TieUpRelianceAssist)
                            {
                                <span>
                                    <label><span>&nbsp;</span> Manual </label>
                                    @Html.RadioButtonFor(x => x.Manual_Allocation, true, new { @id = "manualAllocation" })
                                </span>
                            }
                            else
                            {
                                <span>
                                    <label> <span> &nbsp;</span> Auto </label>
                                    @Html.RadioButtonFor(x => x.Manual_Allocation, false, new { @id = "autoAllocation" })
                                </span>
                            }
                        </div>
                        <div>

                        </div>
                    </div>
                    @if (tieupcompany != CrossCutting_Constant.TieUpRelianceAssist)
                    {
                        @*<div class="col-md-4" id="dvVendorName">
                <label><span>&nbsp;</span></label>
                <div class="form-group">
                    <div>
                        <label>Select vendor branch name</label>
                    </div>
                    @Html.TextBoxFor(x => x.BranchName, new { @class = "form-control validate[required]", @id = "txtBranchName" })
                    @Html.HiddenFor(x => x.Vendor_BranchID, new { @id = "Vendor_BranchID" })
                </div>
            </div>*@

                        <div class="col-md-4" id="dvVendorName">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Select Vendor Name</label>
                                </div>
                                @Html.DropDownList("ddlVendorName", new SelectList(Model.lstVendorName, "Value", "Text"), "Select Vendor Name", new { @class = "form-control validate[required]" })
                            </div>
                        </div>

                        <div class="col-md-4" id="dvVendorBranchName">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Select Vendor Branch Name</label>
                                </div>
                                @Html.DropDownList("ddlBranchName", new SelectList(Model.lstBranchName, "Value", "Text"), "Select Branch Name", new { @class = "form-control validate[required]" })
                                @Html.HiddenFor(x => x.Vendor_BranchID, new { @id = "Vendor_BranchID" })
                            </div>
                        </div>
                    }

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Assistance Summary<span class="mandatory">*</span></label>
                            </div>
                            @Html.TextAreaFor(x => x.AssistSummary, new { @class = "form-control validate[required]", @maxlength = 2000 })
                        </div>
                    </div>

                    @if (Model.Status == null)
                    {
                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Status</label>
                                </div>
                                @Html.DropDownListFor(x => x.StsId, Model.lstStatus, "Select", new { @class = "form-control", @disabled = "disabled", @id = "ddlSts" })
                                @*@Html.DropDownList("ddlSts", new SelectList(Model.lstStatus, "Value", "Text"), "Select", new { @class = "form-control", @disabled = "disabled" })*@
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Remark</label>
                                </div>
                                @Html.DropDownList("ddlRemark", new SelectList(Model.RemarkListItem, "Value", "Text"), "Select", new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    }
                    else if (Model.Status == "Not Assign to Vendor")
                    {
                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Status</label>
                                </div>
                                @Html.DropDownListFor(x => x.StsId, Model.lstStatus, "Select", new { @class = "form-control", @id = "ddlSts" })
                                @*@Html.DropDownList("ddlSts", new SelectList(Model.lstStatus, "Value", "Text"), "Select", new { @class = "form-control" })*@
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Remark</label>
                                </div>
                                @Html.DropDownList("ddlRemark", new SelectList(Model.RemarkListItem, "Value", "Text"), "Select", new { @class = "form-control" })
                            </div>
                        </div>
                    }
                    else if (Model.Status == "Vendor Closed Issue")
                    {
                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Status</label>
                                </div>
                                @Html.DropDownListFor(x => x.StsId, Model.lstStatus, new { @class = "form-control", @disabled = "disabled", @id = "ddlSts" })
                                @*@Html.DropDownList("ddlSts", new SelectList(Model.lstStatus, "Value", "Text"), "Select", new { @class = "form-control", @disabled = "disabled" })*@
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Remark</label>
                                </div>
                                @Html.DropDownListFor(x => x.RemId, Model.RemarkListItem, "Select", new { @class = "form-control", @disabled = "disabled", @id = "ddlRemark" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Status</label>
                                </div>
                                @Html.DropDownListFor(x => x.StsId, Model.lstStatus, "Select", new { @class = "form-control", @id = "ddlSts" })
                                @*@Html.DropDownList("ddlSts", new SelectList(Model.lstStatus, "Value", "Text"), "Select", new { @class = "form-control" })*@
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Remark</label>
                                </div>
                                @Html.DropDownList("ddlRemark", new SelectList(Model.RemarkListItem, "Value", "Text"), "Select", new { @class = "form-control" })
                            </div>
                        </div>
                    }



                </div>

                @* Googl Addres *@


                <table id="address" style="display:none">

                    <tr>
                        <td class="label">Country</td>
                        <td class="wideField" colspan="3"><input class="field" id="country" disabled="true" /></td>
                        <td class="wideField"><input class="field" id="postal_code" disabled="true" /></td>
                    </tr>
                </table>

                @* end google address *@



                <div class="col-lg-12 col-sm-12">
                    <div class="col-lg-4 col-sm-4"></div>
                    <div class="col-lg-12 col-sm-6 form-group text-center">
                        @*@if (Model.ActionID != CrossCutting_Constant.ActionID_Vendor_Accepted_Request && Model.Status != "Vendor Closed Issue")
                            {
                                <input type="button" value="Submit" id="btnSaveAssist" style="margin:05% 3% 05% 0%" ; class="btn btn-primary" />
                            }*@

                        @if (Model.Status != "Vendor Closed Issue")
                        {
                            <input type="button" value="Submit" id="btnSaveAssist" style="margin:05% 3% 05% 0%" ; class="btn btn-primary" />
                        }

                    </div>
                </div>
            </div>


        </div>
    }

    @Html.HiddenFor(x => x.RemarkId, new { @id = "hdn_RemarkId" })

    @Html.HiddenFor(x => x.TransactionID)
    @Html.HiddenFor(x => x.AssistID)
    @Html.HiddenFor(x => x.Latitude, new { @id = "Latitude" })
    @Html.HiddenFor(x => x.Longitude, new { @id = "Longitude" })
}
<script>

    var placeSearch, autocomplete;

    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {


        // Create the autocomplete object, restricting the search predictions to
        // geographical location types.
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('autocomplete'), { types: ['geocode'] });

        // Avoid paying for data that you don't need by restricting the set of
        // place fields that are returned to just the address components.
        // autocomplete.setFields('address_components');
        // When the user selects an address from the drop-down, populate the
        // address fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        var latitude = place.geometry.location.lat();
        var longitude = place.geometry.location.lng();
        console.log("lat  :  ");
        console.log(latitude);
        console.log("lon  :  ");
        console.log(longitude);

        document.getElementById('Latitude').value = latitude;
        document.getElementById('Longitude').value = longitude;



        for (var component in componentForm) {
            document.getElementById(component).value = '';
            document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details,
        // and then fill-in the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
            }
        }
    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle(
                    { center: geolocation, radius: position.coords.accuracy });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }

    $('document').ready(function () {
        $('#manualAllocation').prop('checked', true);
        if ('@Model.IncidentTypeId' != 0 && '@Model.IncidentDetailId' != 0) {
            $('#IncidentTypeId').val('@Model.IncidentTypeId');
            $('#ddlIncidentDetails').val('@Model.IncidentDetailId');
        }
        //
        if ('@Model.Vendor_NameId' != 0 && '@Model.Vendor_BranchID' != 0) {
            $('#ddlVendorName').val('@Model.Vendor_NameId');
            $('#ddlBranchName').val('@Model.Vendor_BranchID');
        }
        //
        var address = $('#apiAddress').val();
        $('#apiAddress').val(address);

        $('.geoDetails').hide();
    })

    $('#manualAllocation').change(function () {
        var val = $(this).is(":checked");
        if (val) {
            $('#dvVendorName').show();
            $('#dvVendorBranchName').show();
        }
        else {
            $('#dvVendorName').hide();
            $('#dvVendorBranchName').hide();
        }
    });

    $('#autoAllocation').change(function () {
        var val = $(this).is(":checked");
        if (val) {
            $('#dvVendorName').hide();
            $('#dvVendorBranchName').hide();
        }
        else {
            $('#dvVendorName').show();
            $('#dvVendorBranchName').show();
        }
    });




    $("#txtBranchName").autocomplete({
        minLength: 3,
        source: function (request, response) {
            $.ajax({
                url: '@Url.Content("/Vendor/GetBranchName")',
                type: "POST",
                dataType: "json",
                data: { UserKey: request.term },
                success: function (data) {
                    if (data != '') {
                        response($.map(data, function (item) {
                            return {
                                label: item.Text,
                                value: item.Text,
                                ID: item.Value,
                            }
                        }));
                    }
                    else {
                        AlertMessage("// Invalid Brnch Name.", "5000", "fail");
                    }
                },
                error: function (k, m, n) {
                }

            });
        },

        select: function (event, ui) {
            var label = ui.item.label;
            var value = ui.item.ID;
            $('#Vendor_BranchID').val(value);

        }
    });

    ////////////////////////////// Product Dropdown Change ////////////////////////////
    $("#IncidentTypeId").on('change', function (e) {
        var val = $(this).val();
        var option = '<option value="">Select</option>';
        if (val == "") {
            $("#ddlIncidentDetails").empty().append(option);
        }
        else {
            var ajaxrequest = $.ajax({
                url: '@Url.Action("GetIndentByIncidentType", "Assistance")',
                type: "POST",
                datatype: "json",
                data: { typeId: val },
                async: false,
                beforeSend: function () {
                    $("#LoadingImage").show();
                }
            });
            ajaxrequest.done(function (result) {
                if (result != null) {

                    $("#ddlIncidentDetails").empty().append('<option value="">Select</option>');

                    var optionSelect = '<option value="">Select</option>';
                    var option = "";
                    if (result.Incidentlist != null) {
                        option = "";
                        $("#ddlIncidentDetails").empty().append(optionSelect);
                        for (var i = 0; i < result.Incidentlist.length; i++) {
                            option += '<option value="' + result.Incidentlist[i].Value + '">' + result.Incidentlist[i].Text + '</option>';
                        }
                        $("#ddlIncidentDetails").append(option);
                    }
                }
                else {

                }
            });
            ajaxrequest.fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            });
        }
    });
    ///////////////////////////////////////////////////////////////////////////////////////

    $("#ddlIncidentDetails").on('change', function (e) {
        var val = $(this).val();
        $("IncidentDetailId").val("");
        $("IncidentDetailId").val(val);
    });

    $('#btnClose').click(function () {
        $('#BootDiv').dialog('close');
        return false;
    });

    $('#btnSaveAssist').click(function () {            

        var apiaddress = document.getElementById('autocomplete').value;
        document.getElementById('apiAddress').value = apiaddress;

        var valid = $('#frmAssist').validationEngine('validate')
        if (valid) {
            $.ajax({
                url: '@Url.Action("SaveAssistDetails", "Assistance")',
                data: $('#frmAssist').serialize(),
                datatype: 'json',
                type: "POST",
                beforeSend: function () {
                    $("#LoadingImage").show();
                },
                success: function (result) {
                    var assistreftag = "";
                    var message = "";

                    if (result.status == '@CrossCutting_Constant.Success') {


                        if (result.AssistRefNo != null && result.AssistRefNo != "") {
                            assistreftag = "Assist Reference Number : <strong>" + result.AssistRefNo + "</strong><br/> " +
                                            "Assigned Vendor : <strong>" + result.Vendor + "</strong><br/> " +
                                            "Branch : <strong>" + result.Branch + "</strong><br/> ";
                            message = "Assistance details saved Successfully." + assistreftag;

                            BootstrapDialog.show({
                                type: BootstrapDialog.TYPE_SUCCESS,
                                draggable: true,
                                closable: false,
                                title: "Success",
                                cssClass: "assistResultPopup",
                                message: message,
                                buttons: [{
                                    label: 'OK',
                                    action: function (dialog) {
                                        //window.location.href = "../../Assistance/AssistList";
                                        dialog.close();
                                    }
                                }]
                            });
                        }
                    }
                    else
                        if (result.status == "AssistExist") {

                            AlertMessage("//Assist request already submitted for the selected policy", "5000", "fail");
                        }
                }

            });

        }
    });

    ////////////////////////////// ddlVendorName Dropdown Change ////////////////////////////

    $("#ddlVendorName").on('change', function (e) {

        var val = $(this).val();
        var option = '<option value="">Select</option>';
        if (val == "") {

            $("#ddlBranchName").empty().append(option);
        }
        else {

            var ajaxrequest = $.ajax({
                url: '@Url.Action("GetBranchByVendorName", "Assistance")',
                type: "POST",
                datatype: "json",
                data: { VendorID: val },
                async: false,
                beforeSend: function () {

                    $("#LoadingImage").show();
                }
            });
            ajaxrequest.done(function (result) {

                if (result != null) {

                    $("#ddlBranchName").empty().append('<option value="">Select</option>');

                    var optionSelect = '<option value="">Select</option>';
                    var option = "";
                    if (result.BranchNameList != null) {

                        option = "";
                        $("#ddlBranchName").empty().append(optionSelect);
                        for (var i = 0; i < result.BranchNameList.length; i++) {

                            option += '<option value="' + result.BranchNameList[i].Value + '">' + result.BranchNameList[i].Text + '</option>';
                        }
                        $("#ddlBranchName").append(option);
                    }
                }
                else {

                }
            });
            ajaxrequest.fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            });
        }
    });

    //////////////////////////////////////////////////////////////////////////////////////////

    ////////////////////////////// ddlBranchName Dropdown Change ////////////////////////////

    $("#ddlBranchName").on('change', function (e) {

        var val = $(this).val();
        if (val == "") {


        }
        else {

            $('#Vendor_BranchID').val(val);
        }
    });

    //////////////////////////////////////////////////////////////////////////////////////////

    ////////////////////////////// ddlSts Dropdown Change ////////////////////////////

    $('#ddlSts').on('change', function (e) {

        var val = $(this).val();
        var option = '<option value="">Select</option>';
        if (val == "") {

            $("#ddlRemark").empty().append(option);
            $("#ddlRemark").removeClass("validate[required]");
            $('#hdn_RemarkId').val("");
        }
        else {

            var ajaxrequest = $.ajax({

                url: '@Url.Action("GetRemarkByStatus", "Assistance")',
                type: "POST",
                datatype: "json",
                data: { StatusID: val },
                async: false,
                beforeSend: function () {

                    $("#LoadingImage").show();
                }
            });
            ajaxrequest.done(function (result) {

                if (result != null) {

                    $("#ddlRemark").empty().append('<option value="">Select</option>');

                    var optionSelect = '<option value="">Select</option>';
                    var option = "";
                    if (result.RemarkList != null) {

                        option = "";
                        $("#ddlRemark").empty().append(optionSelect);
                        for (var i = 0; i < result.RemarkList.length; i++) {

                            option += '<option value="' + result.RemarkList[i].Value + '">' + result.RemarkList[i].Text + '</option>';
                        }
                        $("#ddlRemark").append(option);

                        $("#ddlRemark").addClass("validate[required]");
                    }
                }
                else {

                }
            });
            ajaxrequest.fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            });
        }
    });

    //////////////////////////////////////////////////////////////////////////////////////////

    ////////////////////////////// ddlBranchName Dropdown Change ////////////////////////////

    $("#ddlRemark").on('change', function (e) {

        var val = $(this).val();
        if (val == "") {

            $('#hdn_RemarkId').val("");
        }
        else {

            $('#hdn_RemarkId').val(val);
        }
    });

    //////////////////////////////////////////////////////////////////////////////////////////

</script>