﻿@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Error";
}
<div class="list-header clearfix">
    <span></span>
</div>
<div class="list-sfs-holder">
    <div class="alert alert-error">
        <h3>Request Could not be processed. Sorry for the inconvenience.</h3>
    </div>

</div>
