﻿@using GridMvc.Html;
@using GridMvc.Html;
@using GridMvc.Pagination
@using GridMvc.Sorting
@using GlobalAssure.Models;
<style>
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border: 1px solid #ddd !important;
    }

    .table > thead > tr > th {
        border: 1px solid #ddd !important;
    }


    a:hover {
        color: blue;
        text-decoration: none;
    }
</style>


<div class="col-lg-12 col-sm-12" id="divabc" style="margin-top: 5px;">
    @model Grid.Mvc.Ajax.GridExtensions.AjaxGrid<CompanyUploadDataTATAAIG>
    @Html.Grid(Model).WithMultipleFilters().Named("DownloadCompanyDetails").Columns(columns =>
{
    //   columns.Add(c => c.PrintDownload)
    //.Titled("Print/Download")
    //.Filterable(true).Sanitized(false).Encoded(false)
    //.RenderValueAs(o => Html.ActionLink("Print/Download", "", "", new { @onclick = "PrintDownload('" + o.TransactionID + "','" + o.CertificatePath + "');return false" }).ToHtmlString());
    columns.Add(c => c.PolicyStatus).Titled("PolicyStatus").Filterable(true);
    columns.Add(c => c.CertificateNo).Titled("CertificateNo").Filterable(true);
    columns.Add(c => c.EngineNumber).Titled("EngineNumber").Filterable(true);
    columns.Add(c => c.ChassisNumber).Titled("ChassisNumber").Filterable(true);
    columns.Add(c => c.RegistrationNo).Titled("RegistrationNo").Filterable(true);
    columns.Add(c => c.Make).Titled("Make").Filterable(true);
    columns.Add(c => c.Model).Titled("Model").Filterable(true);
    columns.Add(c => c.Variant).Titled("Variant").Filterable(true);
    columns.Add(c => c.FirstName).Titled("FirstName").Filterable(true);
    columns.Add(c => c.CertificateIssueDate).Titled("CertificateIssueDate").Filterable(true);
    columns.Add(c => c.CoverStartDate).Titled("CoverStartDate").Filterable(true);
    columns.Add(c => c.CoverEndDate).Titled("CoverEndDate").Filterable(true);
    columns.Add(c => c.CustomerMobileNo).Titled("CustomerMobileNo").Filterable(true);
    columns.Add(c => c.PermanentCity).Titled("PermanentCity").Filterable(true);
    columns.Add(c => c.PermanentState).Titled("PermanentState").Filterable(true);   
}).WithPaging(10).Filterable(true)
</div>


<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<script src="~/Scripts/gridmvc-ext.js"></script>
<script src="~/Scripts/gridmvc.lang.ru.js"></script>
<script src="~/Scripts/gridmvc.customwidgets.js"></script>
<script src="~/Scripts/URI.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        var CertificateNo = '@ViewBag.CertificateNo';
        var CertificateIssueDateFrom = '@ViewBag.FromDate';
        var CertificateIssueDateTo = '@ViewBag.ToDate';
        var FirstName = '@ViewBag.CustomerName';
        var LastName = "";
        var EngineNo = '@ViewBag.EngineNo';
        var ChassisNo = '@ViewBag.ChassisNo';
        var CompanyName = '@ViewBag.CompanyName';

        if ('@TempData["Load"]' == "FirstTime") {

            $.ajaxSetup({
                cache: false
            });
            pageGrids.DownloadCompanyDetails.ajaxify({
                getData: '@Url.Content("~/Home/DowloadCompanyDetailGridNext?CertificateNo=")' + CertificateNo + '&CertificateIssueDateFrom=' + CertificateIssueDateFrom + '&CertificateIssueDateTo=' + CertificateIssueDateTo + '&FirstName=' + FirstName + '&LastName=' + LastName + '&EngineNo=' + EngineNo + '&ChassisNo=' + ChassisNo + '&CompanyName=' + CompanyName,
                getPagedData: '@Url.Content("~/Home/DowloadCompanyDetailGridNext?CertificateNo=")' + CertificateNo + '&CertificateIssueDateFrom=' + CertificateIssueDateFrom + '&CertificateIssueDateTo=' + CertificateIssueDateTo + '&FirstName=' + FirstName + '&LastName=' + LastName + '&EngineNo=' + EngineNo + '&ChassisNo=' + ChassisNo + '&CompanyName=' + CompanyName,
            });
        }
    });

</script>