﻿@using GridMvc.Html;
@using GridMvc.Html;
@using GridMvc.Pagination
@using GridMvc.Sorting
@using GlobalAssure.Models;
<style>
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border: 1px solid #ddd !important;
    }

    .table > thead > tr > th {
        border: 1px solid #ddd !important;
    }


    a:hover {
        color: blue;
        text-decoration: none;
    }
</style>


<div class="col-lg-12 col-sm-12" id="divabc" style="margin-top: 5px;">
    @model Grid.Mvc.Ajax.GridExtensions.AjaxGrid<CompanyUploadDataTATAAIG>
    @Html.Grid(Model).WithMultipleFilters().Named("DownloadCompanyDetails").Columns(columns =>
{
    //   columns.Add(c => c.PrintDownload)
    //.Titled("Print/Download")
    //.Filterable(true).Sanitized(false).Encoded(false)
    //.RenderValueAs(o => Html.ActionLink("Print/Download", "", "", new { @onclick = "PrintDownload('" + o.TransactionID + "','" + o.CertificatePath + "');return false" }).ToHtmlString());
    columns.Add(c => c.PolicyStatus).Titled("PolicyStatus").Filterable(true);
    columns.Add(c => c.Policy).Titled("Policy").Filterable(true);
    columns.Add(c => c.P400Policy).Titled("P400Policy").Filterable(true);
    columns.Add(c => c.TypeofPolicy).Titled("TypeofPolicy").Filterable(true);
    columns.Add(c => c.PolicyType).Titled("PolicyType").Filterable(true);
    columns.Add(c => c.Status).Titled("Status").Filterable(true);
    columns.Add(c => c.FirstName).Titled("FirstName").Filterable(true);
    columns.Add(c => c.LastName).Titled("LastName").Filterable(true);
    columns.Add(c => c.Policysubmitted).Titled("Policysubmitted").Filterable(true);
    columns.Add(c => c.Inceptiondate).Titled("Inceptiondate").Filterable(true);
    columns.Add(c => c.Expirydate).Titled("Expirydate").Filterable(true);
    columns.Add(c => c.Branch).Titled("Branch").Filterable(true);
    columns.Add(c => c.Lateral).Titled("Lateral").Filterable(true);
    columns.Add(c => c.BimaKendraCode).Titled("BimaKendraCode").Filterable(true);
    columns.Add(c => c.Product).Titled("Product").Filterable(true);
    columns.Add(c => c.NetPremiumPayable).Titled("NetPremiumPayable").Filterable(true);
    columns.Add(c => c.RegistrationNo).Titled("RegistrationNo").Filterable(true);
    columns.Add(c => c.EngineNumber).Titled("EngineNumber").Filterable(true);
    columns.Add(c => c.ChassisNumber).Titled("ChassisNumber").Filterable(true);
    columns.Add(c => c.Make).Titled("Make").Filterable(true);
    columns.Add(c => c.Manufacturer).Titled("Manufacturer").Filterable(true);
    columns.Add(c => c.Model).Titled("Model").Filterable(true);
}).WithPaging(10).Filterable(true)
</div>


<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<script src="~/Scripts/gridmvc-ext.js"></script>
<script src="~/Scripts/gridmvc.lang.ru.js"></script>
<script src="~/Scripts/gridmvc.customwidgets.js"></script>
<script src="~/Scripts/URI.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        var CertificateNo = '@ViewBag.CertificateNo';
        var CertificateIssueDateFrom = '@ViewBag.FromDate';
        var CertificateIssueDateTo = '@ViewBag.ToDate';
        var FirstName = '@ViewBag.CustomerName';
        var LastName = '@ViewBag.CustomerLastName';
        var EngineNo = '@ViewBag.EngineNo';
        var ChassisNo = '@ViewBag.ChassisNo';
        var CompanyName = '@ViewBag.CompanyName';

        if ('@TempData["Load"]' == "FirstTime") {

            $.ajaxSetup({
                cache: false
            });
            pageGrids.DownloadCompanyDetails.ajaxify({
                getData: '@Url.Content("~/Home/DowloadCompanyDetailGridNext?CertificateNo=")' + CertificateNo + '&CertificateIssueDateFrom=' + CertificateIssueDateFrom + '&CertificateIssueDateTo=' + CertificateIssueDateTo + '&FirstName=' + FirstName + '&LastName=' + LastName + '&EngineNo=' + EngineNo + '&ChassisNo=' + ChassisNo + '&CompanyName=' + CompanyName,
                getPagedData: '@Url.Content("~/Home/DowloadCompanyDetailGridNext?CertificateNo=")' + CertificateNo + '&CertificateIssueDateFrom=' + CertificateIssueDateFrom + '&CertificateIssueDateTo=' + CertificateIssueDateTo + '&FirstName=' + FirstName + '&LastName=' + LastName + '&EngineNo=' + EngineNo + '&ChassisNo=' + ChassisNo + '&CompanyName=' + CompanyName,
            });
        }
    });

</script>