﻿@*Added By Parag on 17Apr2021*@
@using GridMvc.Html;
@using GridMvc.Html;
@using GridMvc.Pagination
@using GridMvc.Sorting
@using GlobalAssure.Models;
<style>
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border: 1px solid #ddd !important;
    }

    .table > thead > tr > th {
        border: 1px solid #ddd !important;
    }


    a:hover {
        color: blue;
        text-decoration: none;
    }
</style>


<div class="col-lg-12 col-sm-12" id="divabc" style="margin-top: 5px;">
    @model Grid.Mvc.Ajax.GridExtensions.AjaxGrid<CompanyUploadDataTATAAIG>
    @Html.Grid(Model).WithMultipleFilters().Named("DownloadCompanyDetails").Columns(columns =>
{
    //   columns.Add(c => c.PrintDownload)
    //.Titled("Print/Download")
    //.Filterable(true).Sanitized(false).Encoded(false)
    //.RenderValueAs(o => Html.ActionLink("Print/Download", "", "", new { @onclick = "PrintDownload('" + o.TransactionID + "','" + o.CertificatePath + "');return false" }).ToHtmlString());
    columns.Add(c => c.PolicyStatus).Titled("PolicyStatus").Filterable(true);
    columns.Add(c => c.ChassisNo).Titled("ChassisNumber").Filterable(true);
    columns.Add(c => c.Make).Titled("Make").Filterable(true);
    columns.Add(c => c.Model).Titled("Model").Filterable(true);
    columns.Add(c => c.Plan).Titled("Plan").Filterable(true);
    columns.Add(c => c.Title).Titled("Title").Filterable(true);
    columns.Add(c => c.InsuredFirstName).Titled("InsuredFirstName").Filterable(true);
    columns.Add(c => c.InsuredLastName).Titled("InsuredLastName").Filterable(true);
    columns.Add(c => c.InsuredMobileNo).Titled("InsuredMobileNo").Filterable(true);
    columns.Add(c => c.InsuredEmailID).Titled("InsuredEmailID").Filterable(true);
    columns.Add(c => c.InsuredDOB).Titled("InsuredDOB").Filterable(true);
    columns.Add(c => c.InsuredAddress).Titled("InsuredAddress").Filterable(true);
    columns.Add(c => c.InsuredState).Titled("InsuredState").Filterable(true);
    columns.Add(c => c.InsuredCity).Titled("InsuredCity").Filterable(true);
    columns.Add(c => c.CoverStartDate).Titled("CoverStartDate").Filterable(true);
    columns.Add(c => c.Color).Titled("Color").Filterable(true);
    columns.Add(c => c.NomineeName).Titled("NomineeName").Filterable(true);
    columns.Add(c => c.NomineeDOB).Titled("NomineeDOB").Filterable(true);
    columns.Add(c => c.NomineeRelationship).Titled("NomineeRelationship").Filterable(true);
    columns.Add(c => c.InvoiceNo).Titled("InvoiceNo").Filterable(true);
    columns.Add(c => c.InvoiceDate).Titled("InvoiceDate").Filterable(true);
}).WithPaging(10).Filterable(true)  
    
    


</div>


<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<script src="~/Scripts/gridmvc-ext.js"></script>
<script src="~/Scripts/gridmvc.lang.ru.js"></script>
<script src="~/Scripts/gridmvc.customwidgets.js"></script>
<script src="~/Scripts/URI.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        var CertificateNo = '@ViewBag.CertificateNo';
        var CertificateIssueDateFrom = '@ViewBag.FromDate';
        var CertificateIssueDateTo = '@ViewBag.ToDate';
        var FirstName = '@ViewBag.CustomerName';
        var LastName = "";
        var EngineNo = '@ViewBag.EngineNo';
        var ChassisNo = '@ViewBag.ChassisNo';
        var CompanyName = '@ViewBag.CompanyName';

        if ('@TempData["Load"]' == "FirstTime") {

            $.ajaxSetup({
                cache: false
            });
            pageGrids.DownloadCompanyDetails.ajaxify({
                getData: '@Url.Content("~/Home/DowloadCompanyDetailGridNext?CertificateNo=")' + CertificateNo + '&CertificateIssueDateFrom=' + CertificateIssueDateFrom + '&CertificateIssueDateTo=' + CertificateIssueDateTo + '&FirstName=' + FirstName + '&LastName=' + LastName + '&EngineNo=' + EngineNo + '&ChassisNo=' + ChassisNo + '&CompanyName=' + CompanyName,
                getPagedData: '@Url.Content("~/Home/DowloadCompanyDetailGridNext?CertificateNo=")' + CertificateNo + '&CertificateIssueDateFrom=' + CertificateIssueDateFrom + '&CertificateIssueDateTo=' + CertificateIssueDateTo + '&FirstName=' + FirstName + '&LastName=' + LastName + '&EngineNo=' + EngineNo + '&ChassisNo=' + ChassisNo + '&CompanyName=' + CompanyName,
            });
        }
    });

    

</script>