﻿@using GridMvc.Html;
@using GridMvc.Html;
@using GridMvc.Pagination
@using GridMvc.Sorting
@using GlobalAssure.Models;
<style>
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border: 1px solid #ddd !important;
    }

    .table > thead > tr > th {
        border: 1px solid #ddd !important;
    }


    a:hover {
        color: blue;
        text-decoration: none;
    }


    .ClaimDetailDialogMain-dialog .modal-dialog {
        width: 90%;
        overflow: auto;
    }

    .bootstrap-dialog.type-primary .modal-header {
        background-color: #32419c;
    }
</style>


<div class="col-lg-12 col-sm-12" id="divabc" style="margin-top: 5px; overflow-x:scroll">
    @model Grid.Mvc.Ajax.GridExtensions.AjaxGrid<TieUpCompanyAddOnModel>
    @Html.Grid(Model).WithMultipleFilters().Named("SearchAddOnDefinitionGrid").Columns(columns =>
{       
    columns.Add(c => c.AddOnID)
.Titled("Edit")
.Filterable(false).Sanitized(false).Encoded(false)
.RenderValueAs(o => Html.ActionLink("Edit", "", "", new { @onclick = "EditAddOnDefinition('" + o.AddOnID + "','" + o.TieUpCompanyID + "','" + o.Description + "','" + o.Value + "','" + o.strFromDate + "','" + o.strToDate + "','" + o.Status + "');return false" }).ToHtmlString());
    columns.Add(c => c.TieUpCompany).Titled("TieUpCompany").Filterable(true);
    columns.Add(c => c.Description).Titled("Description").Filterable(true);
    columns.Add(c => c.Value).Titled("Value").Filterable(true);
    columns.Add(c => c.Status).Titled("Status").Filterable(true);
    columns.Add(c => c.strFromDate).Titled("From Date").Filterable(true);
    columns.Add(c => c.strToDate).Titled("To Date").Filterable(true);
    columns.Add(c => c.CreatedDate).Titled("Created Date").Filterable(true);
    columns.Add(c => c.CreatedBy).Titled("Created By").Filterable(true);
    columns.Add(c => c.LastModifiedDate).Titled("Last Modified Date").Filterable(true);
    columns.Add(c => c.LastModifiedby).Titled("Last Modified By").Filterable(true);   
}).WithPaging(10).Filterable(true)
</div>


<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<script src="~/Scripts/gridmvc-ext.js"></script>
<script src="~/Scripts/gridmvc.lang.ru.js"></script>
<script src="~/Scripts/gridmvc.customwidgets.js"></script>
<script src="~/Scripts/URI.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        var TieUpCompanyID = '@ViewBag.TieUpCompanyID';
        var Description = '@ViewBag.Description';
        var Value = '@ViewBag.Value';
        var FromDate = '@ViewBag.FromDate';
        var ToDate = '@ViewBag.ToDate';       

        if ('@TempData["Load"]' == "FirstTime") {

            $.ajaxSetup({
                cache: false
            });
            pageGrids.SearchAddOnDefinitionGrid.ajaxify({
                getData: '@Url.Content("~/Home/SearchAddonDefinitionNextPage?TieUpCompanyID=")' + TieUpCompanyID + '&Description=' + Description + '&Value=' + Value + '&strFromDate=' + FromDate + '&strToDate=' + ToDate,
                getPagedData: '@Url.Content("~/Home/SearchAddonDefinitionNextPage?TieUpCompanyID=")' + TieUpCompanyID + '&Description=' + Description + '&Value=' + Value + '&strFromDate=' + FromDate + '&strToDate=' + ToDate,
            });
        }
    });


    function EditAddOnDefinition(AddOnID,TieUpCompanyID,Description,Value,FromDate,ToDate,Status) {

        $('#hdn_AddOnID').val(AddOnID);
        $('#ddlTieUpCompany').val(TieUpCompanyID);
        $('#txtDescription').val(Description);
        $('#txtValue').val(Value);
        $('#txtFromDate').val(FromDate);
        $('#txtToDate').val(ToDate);

        if (Status == 'Active') {

            $('#rdActive').prop("checked", true);
            $('#rdInActive').prop("checked", false);
            $('#hdn_Status').val('ACTIVE');
        }
        else {

            $('#rdActive').prop("checked", false);
            $('#rdInActive').prop("checked", true);
            $('#hdn_Status').val('INACTIVE');
        }  

        $('#btnSave').css('display', 'none');
        $('#btnUpdate').css('display', '');
    }

</script>