﻿@model GlobalAssure.Models.PlansDetailModel

<style>
    td {
        text-align: center;
    }

    th {
        text-align: center;
    }
</style>

@{
                /**/

                var iLoop = 0;
}


@using (Html.BeginForm("", "", FormMethod.Post, new { Id = "PlansDetailModelform" }))
{
<div id="dvAllplans">

    <div class="panel panel-default">

        <div class="panel-heading" style="background-color:#34aeeb">
            <h1 class="panel-title" style="color:#fff">
                <strong>Plans</strong>
            </h1>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="width-100 table-responsive portlet-body flip-scroll" style="background-color:#fff; overflow:auto; height:600px">
                    <table id="tblPaymentTransactions"
                           class="table payment-grid payment table-bordered table-striped table-condensed flip-content" cellpadding="0" cellspacing="0" border="1">
                        <thead class="flip-content" style="color:white">
                            <tr style="background-color: #006bff">

                                <th class="col-sm-1 col-lg-1 form-controle"><input type="checkbox" id="selectall" class="form-control" /></th>
                                <th class="col-sm-1 col-lg-1 form-controle">ProductName</th>
                                <th class="col-sm-1 col-lg-1 form-controle">PlanName</th>
                                <th class="col-sm-1 col-lg-1 form-controle">Amount</th>
                                <th class="col-sm-1 col-lg-1 form-controle">GST</th>
                                <th class="col-sm-1 col-lg-1 form-controle">Total</th>
                            </tr>
                        </thead>
                        <tbody>

                            @for (iLoop = 0; iLoop < Model.PlansDetailModelList.Count; iLoop++)
                            {
                                <tr id="tr@(iLoop)">
                                    <td class="col-sm-1 col-lg-1 form-controle">
                                        @Html.CheckBoxFor(m => m.PlansDetailModelList[iLoop].IsPayment, new { @class = "isPayment form-control" })
                                        @Html.HiddenFor(h => h.PlansDetailModelList[iLoop].PlanID, new { @id = "hdnPlanID" })
                                    </td>
                                    <td class="col-sm-1 col-lg-1 form-controle">
                                        @Html.TextBoxFor(a => a.PlansDetailModelList[(iLoop)].ProductName, new { @class = "form-control", @readonly = "readonly" })
                                    </td>
                                    <td class="col-sm-1 col-lg-1 form-controle">
                                        @Html.TextBoxFor(a => a.PlansDetailModelList[(iLoop)].Name, new { @class = "form-control", @readonly = "readonly" })
                                    </td>
                                    <td class="col-sm-1 col-lg-1 form-controle">
                                        @Html.TextBoxFor(a => a.PlansDetailModelList[(iLoop)].Amount, new { @class = "form-control", @readonly = "readonly" })
                                    </td>
                                    <td class="col-sm-1 col-lg-1 form-controle">
                                        @Html.TextBoxFor(a => a.PlansDetailModelList[(iLoop)].GST, new { @class = "form-control", @readonly = "readonly" })
                                    </td>
                                    <td class="col-sm-1 col-lg-1 form-controle">
                                        @Html.TextBoxFor(a => a.PlansDetailModelList[(iLoop)].Total, new { @class = "form-control", @readonly = "readonly" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-12 col-sm-12 form-group text-center">
        <input type="button" value="Submit" id="btnSubmit" class="btn btn-primary" />

    </div>

</div>   

    @Html.HiddenFor(x => x.ProductID, new { @id = "hdn_ProductID" })
    <br />
    @Html.HiddenFor(x => x.PermanentStateID, new { @id = "hdn_StateID" })
    <br />
    @Html.HiddenFor(x => x.PermanentCityID, new { @id = "hdn_CityID" })
    <br />
    @Html.HiddenFor(x => x.IsSelectAllCity, new { @id = "hdn_IsSelectAllCity" })
}


<script>

    jQuery("#PlansDetailModelform").validationEngine();


    $(document).ready(function () {

        ///////////////////////////////////// Submit /////////////////////////////////////////
        $("#btnSubmit").click(function () {

            var PID = $("#hdn_ProductID").val();
            var SID = $("#hdn_StateID").val();
            var CID = $("#hdn_CityID").val();
            var IsSelectAllCity = $("#hdn_IsSelectAllCity").val();

            if (PID != "0" && PID != "") {

                if (SID != "0" && SID != "") {

                    if (IsSelectAllCity == "true") {

                        var valid = $("#PlansDetailModelform").validationEngine('validate');
                        if (valid) {
                            var chequeValidationMessage = ChequeValidation();
                            if (chequeValidationMessage == "") {
                                $.ajax({
                                    url: '@Url.Action("SaveCityProductMapping", "Home")',
                                    data: $('#PlansDetailModelform').serialize(),
                                    datatype: 'json',
                                    type: "POST",
                                    beforeSend: function () {
                                        $("#LoadingImage").show();
                                    },
                                    success: function (result) {

                                        if (result.status == '@CrossCutting_Constant.Success') {

                                            AlertMessage("// Mapping Done Successfully", "5000", "suc");

                                            $('#ddlProduct').val("");
                                            $('#ddlPermanentState').val("");
                                            $('#dvState').hide();
                                            $("#selectallcity").prop("checked", true);
                                            $('#dvSelectAllCity').hide();
                                            $('#ddlPermanentCity').val("");
                                            $('#dvCity').hide();
                                            $("#dvPlans").empty();
                                        }
                                        else {

                                            AlertMessage("// " + result.errormessage + "", "5000", "fail");
                                        }
                                    }
                                });
                            }
                            else {

                                AlertMessage("//" + chequeValidationMessage, "5000", "fail");
                            }
                        }
                        else {
                            $("#PlansDetailModelform").validationEngine('validate');
                        }
                    }
                    else {

                        if (CID != "0" && CID != "") {

                            var valid = $("#PlansDetailModelform").validationEngine('validate');
                            if (valid) {
                                var chequeValidationMessage = ChequeValidation();
                                if (chequeValidationMessage == "") {
                                    $.ajax({
                                        url: '@Url.Action("SaveCityProductMapping", "Home")',
                                        data: $('#PlansDetailModelform').serialize(),
                                        datatype: 'json',
                                        type: "POST",
                                        beforeSend: function () {
                                            $("#LoadingImage").show();
                                        },
                                        success: function (result) {

                                            if (result.status == '@CrossCutting_Constant.Success') {

                                                AlertMessage("// Mapping Done Successfully", "5000", "suc");

                                                $('#ddlProduct').val("");
                                                $('#ddlPermanentState').val("");
                                                $('#dvState').hide();
                                                $("#selectallcity").prop("checked", true);
                                                $('#dvSelectAllCity').hide();
                                                $('#ddlPermanentCity').val("");
                                                $('#dvCity').hide();
                                                $("#dvPlans").empty();
                                            }
                                            else {

                                                AlertMessage("// " + result.errormessage + "", "5000", "fail");
                                            }
                                        }
                                    });
                                }
                                else {

                                    AlertMessage("//" + chequeValidationMessage, "5000", "fail");
                                }
                            }
                            else {

                                $("#PlansDetailModelform").validationEngine('validate');
                            }
                        }
                        else {

                            AlertMessage("//Please Select City", "5000", "fail");
                        }
                    }
                }
                else {

                    AlertMessage("//Please Select State", "5000", "fail");
                }                
            }
            else {

                AlertMessage("//Please Select Product", "5000", "fail");
            }           
        });

        //////////////////////////////////////////////////////////////////////////////////////


        //////////////////////////////IsPayment-SelectAllCheckBox/////////////////////////////////

        $("#selectall").on("change", function () {
            var ischeck = $("#selectall").is(":checked");
            $("#txtTotalAmount").val("0");
            if (ischeck)
            {
                $(".isPayment").prop("checked", true);
                $(".isPayment").trigger("change");
            }
            else {

                $(".isPayment").prop("checked", false);
                $(".isPayment").trigger("change");
            }
        });


        ///////////////////////////////////// IsPayment Checkbox Change //////////////////////////////////


        $('.isPayment').change(function (e) {

            e.preventDefault();

            var totalcount = @(iLoop);
            var Checkedcount = $(".isPayment:checked").length;
            var unCheckedcount = $(".isPayment:not(:checked)").length;

            if(totalcount == Checkedcount)
            {
                $("#selectall").prop("checked", true);
            }
            else{
                $("#selectall").prop("checked", false);
            }

            var planId = $(this).siblings("input[id='hdnPlanID']").val();
            var isChecked = $(this).is(":checked");
        });
    });

    function ChequeValidation() {

        var message = "";
        var checkedcount = $(".isPayment:checked").length;

        if (checkedcount == 0) {

            message = "Please select at least one Plan.";
        }
        else {


        }

        return message;
    }

</script>

