﻿@model GlobalAssure.Models.MasterPolicyNoModel

@{
    ViewBag.Title = "AdminSaveMasterPolicyNo";
}

@using (Html.BeginForm("", "", FormMethod.Post, new { Id = "AdminSaveMasterPolicyNoForm" }))
{
    <h2 class="main-title text-center" style="color:#716f6f !important">Master Policy No Mapping / View</h2>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="active-class" style="color:white"><img src="~/Image/Site/Forma 1.png" />&nbsp;&nbsp; Master Policy No Mapping</p>
        </div>
        <div class="width-100 panel-body" style="background-color: #fff">
            <div style="margin:5px 5px 3px 49px">
                <div class="row no-padding">
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Product</label>
                                <span class="mandatory">*</span>
                            </div>
                            @Html.DropDownListFor(x => x.ProductID, new SelectList(Model.ProductListItem, "Key", "Value"), "Product Name", new { @class = "form-control validate[required]", @id = "ddlProduct" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Plan</label>
                                <span class="mandatory">*</span>
                            </div>
                            @Html.DropDownListFor(x => x.PlanID, new SelectList(Model.PlanListItem, "Key", "Value"), "Plan", new { @class = "form-control validate[required]", @id = "ddlPlan" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Master Policy No</label>
                                <span class="mandatory">*</span>
                            </div>
                            @Html.TextBoxFor(x => x.MasterPolicyNoInsert, new { @class = "form-control validate[required]", @id = "txtMasterPolicyNo" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Start Date</label>
                                <span class="mandatory">*</span>
                            </div>
                            @Html.TextBoxFor(x => x.StartDateInsert, "{0:dd/MM/yyyy}", new { @class = "form-control validate[required] removeBackgroundcolor", @id = "txtStartDate", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>End Date</label>
                                <span class="mandatory">*</span>
                            </div>
                            @Html.TextBoxFor(x => x.EndDateInsert, "{0:dd/MM/yyyy}", new { @class = "form-control validate[required] removeBackgroundcolor", @id = "txtEndDate", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="row no-padding" style="margin-top: 40px">
                    <div class="col-lg-12">
                        <div class="col-lg-12 col-sm-12 form-group text-center">
                            <input type="button" value="Submit" id="btnSave" class="btn btn-primary" />
                            <input type="button" value="Refresh" id="btnRefreshMapping" class="btn btn-primary" style="margin-left: 50px" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-heading">
            <p class="active-class" style="color:white"><img src="~/Image/Site/Forma 1.png" />&nbsp;&nbsp; View Master Policy No Mapping</p>
        </div>
        <div class="width-100 panel-body" style="background-color: #fff">
            <div style="margin:5px 5px 3px 49px">
                <div class="row no-padding">
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Master Policy No</label>
                            </div>
                            <input type="text" class="form-control" id="txtMasterPolicyNoSearch">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>From Date</label>
                            </div>
                            <input type="text" class="form-control removeBackgroundcolor" id="txtFromDate" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>To Date</label>
                            </div>
                            <input type="text" class="form-control removeBackgroundcolor" id="txtToDate" />
                        </div>
                    </div>
                </div>
                <div class="row no-padding" style="margin-top: 40px">
                    <div class="col-lg-12">
                        <div class="col-lg-12 col-sm-12 form-group text-center">
                            <input type="button" value="Search" id="btnSearch" class="btn btn-primary" />
                            <input type="button" value="Refresh" id="btnRefreshSearch" class="btn btn-primary" style="margin-left: 50px" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="MasterPolicyNoGrid"></div>
}

<script>

    $("#btnRefreshMapping").click(function () {

        window.location.reload();
    });


    $("#btnRefreshSearch").click(function () {

        window.location.reload();
    });


    $("#txtStartDate").datepicker({

        todayHighlight: true,
        format: 'dd/mm/yyyy',
        autoclose: true,
    })


    $("#txtEndDate").datepicker({

        todayHighlight: true,
        format: 'dd/mm/yyyy',
        autoclose: true,
    })


    $("#txtFromDate").datepicker({

        todayHighlight: true,
        format: 'dd/mm/yyyy',
        autoclose: true,
    })


    $("#txtToDate").datepicker({

        todayHighlight: true,
        format: 'dd/mm/yyyy',
        autoclose: true,
    })


    $(document).ready(function () {

        $("#ddlProduct").each(function () {

            $('option', this).each(function () {

                if ($(this).text().toLowerCase() == "pc") {

                    $(this).text("Private Car");
                }
                else if ($(this).text().toLowerCase() == "tw") {

                    $(this).text("Two Wheeler");
                }
                else if ($(this).text().toLowerCase() == "cv") {

                    $(this).text("Commercial Vehicle");
                }
                else if ($(this).text().toLowerCase() == "th") {

                    $(this).text("Three Wheeler");
                }
                else if ($(this).text().toLowerCase() == "cl") {

                    $(this).text("Pedal Cycle");
                }
                else if ($(this).text().toLowerCase() == "tc") {

                    $(this).text("Covid");
                }
                else if ($(this).text().toLowerCase() == "tci") {

                    $(this).text("Covid Indemnity");
                }
                else if ($(this).text().toLowerCase() == "lc") {

                    $(this).text("Life Value Care");
                }
				else if ($(this).text().toLowerCase() == "cp") {

                    $(this).text("Card Protect");
                }
				else if ($(this).text().toLowerCase() == "hp") {

                    $(this).text("Hero Product");
                }
                else if ($(this).text().toLowerCase() == "ha") {

                    $(this).text("Health Assistance");
                }
            });
        });
    });


    $("#ddlProduct").on('change', function (e) {

        var val = $(this).val();
        var option = '<option value="">Select</option>';
        if (val == "") {

            $("#ddlPlan").empty().append(option);
        }
        else {

            var ajaxrequest = $.ajax({

                url: '@Url.Action("GetPlanByProductIDForAdmin", "Home")',
                type: "POST",
                datatype: "json",
                data: { ProductID: val },
                async: false,
                beforeSend: function () {

                    $("#LoadingImage").show();
                }
            });
            ajaxrequest.done(function (result) {

                if (result != null) {

                    var optionSelect = '<option value="">Select</option>';
                    var option = "";
                    if (result.planlist != null) {

                        option = "";
                        $("#ddlPlan").empty().append(optionSelect);
                        for (var i = 0; i < result.planlist.length; i++) {

                            option += '<option value="' + result.planlist[i].Value + '">' + result.planlist[i].Text + '</option>';
                        }

                        $("#ddlPlan").append(option);
                    }
                }
                else {

                }
            });
            ajaxrequest.fail(function (jqXHR, textStatus, errorThrown) {

                alert(textStatus + ': ' + errorThrown);
            });
        }
    });


    jQuery("#AdminSaveMasterPolicyNoForm").validationEngine();

    ///////////////////////////////////// Submit /////////////////////////////////////////
    $(document).ready(function () {

        $("#btnSearch").click(function () {

            var FromDate = $("#txtFromDate").val();
            var ToDate = $("#txtToDate").val();
            var MasterPolicyNoSearch = $("#txtMasterPolicyNoSearch").val();

            if ((FromDate == "" || FromDate == null) &&
                (ToDate == "" || ToDate == null) &&
                (MasterPolicyNoSearch == "" || MasterPolicyNoSearch == null)) {

                AlertMessage("//Please enter atlease one search criteria.", "5000", "fail");
                return false;
            }

            $.ajax({

                url: '@Url.Action("SearchMasterPolicyNo", "Home")',
                data: { FromDate: FromDate, ToDate: ToDate, MasterPolicyNoSearch: MasterPolicyNoSearch },
                datatype: 'json',
                type: "POST",
                beforeSend: function () {

                    $("#LoadingImage").show();
                },
                success: function (result) {

                    if (result.status == '@CrossCutting_Constant.Success') {

                        $('#MasterPolicyNoGrid').empty().append(result.Html);
                    }
                    else {

                        AlertMessage("//ErrorMessage : " + errormessage + "", "5000", "fail");
                    }
                }
            });
        });


        $("#btnSave").click(function () {

            var valid = $("#AdminSaveMasterPolicyNoForm").validationEngine('validate');
            if (valid) {

                $.ajax({

                    url: '@Url.Action("SaveMasterPolicyNo", "Home")',
                    data: $('#AdminSaveMasterPolicyNoForm').serialize(),
                    datatype: 'json',
                    type: "POST",
                    beforeSend: function () {

                        $("#LoadingImage").show();
                    },
                    success: function (result) {

                        if (result.status == '@CrossCutting_Constant.Success') {

                            AlertMessage("//Master Policy No Mapping Successfully", "5000", "suc");
                            $("#ddlProduct").val('');
                            $("#ddlPlan").val('');
                            $("#txtMasterPolicyNo").val('');
                            $("#txtStartDate").val('');
                            $("#txtEndDate").val('');
                        }
                        else {

                            AlertMessage("//ErrorMessage : " + result.errormessage + "", "10000", "fail");
                        }
                    }
                });
            }
            else {

                $("#AdminSaveMasterPolicyNoForm").validationEngine('validate');
            }
        });
    });
    //////////////////////////////////////////////////////////////////////////////////////

</script>

