﻿@model GlobalAssure.Models.BusinessMISSearchModel

@{
    ViewBag.Title = "BusinessMIS";
}

<link href="~/Content/selectwithsearch.css" rel="stylesheet" />
<script src="~/Scripts/selectwithsearch.js"></script>

<style>
    .select2-container .select2-selection--single {
        height: 34px !important;
    }
</style>

@using (Html.BeginForm("", "", FormMethod.Post, new { Id = "BusinessMISForm" }))
{
    <h2 class="main-title text-center" style="color:#716f6f !important">Business MIS</h2>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 style="color:white">Business MIS</h4>
        </div>
        <div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-lg-12 col-sm-12 form-group text-center">
                        <div class="row no-padding">
                            <div class="col-md-2">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group">
                                    <div>
                                        <label>Date From</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group">
                                    <input type="text" value=@ViewBag.FromDate class="form-control removeBackgroundcolor" id="txtCertificateIssueDateFrom" readonly />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group">
                                    <div>
                                        <label>Date To</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group">
                                    <input type="text" value=@ViewBag.ToDate class="form-control removeBackgroundcolor" id="txtCertificateIssueDateTo" readonly />
                                </div>
                            </div>
                        </div>

                        <div class="row no-padding">
                            <div class="col-md-12 text-center">
                                <input type="button" class="btn btn-primary" style="margin:05% 3% 05% 0%" value="Search" name="" id="btnSearch">
                                <input type="button" value="Refresh" id="btnRefresh" ; class="btn btn-primary" style="margin:05% 3% 05% 0%" />
                                <input type="button" class="btn btn-primary" value="Download" name="" id="btnDownload">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="divBusinessMISDetail">
        @if (Model.BusinessMISModel.BusinessMISModelList.Any())
        {
            @Html.Partial("~/Views/Home/_BusinessMISDetail.cshtml", Model.BusinessMISModel)
        }
        else
        {
            <label style="color:red;background-color:orange;font-weight:bold"><h3>@ViewBag.ErrMsg</h3></label>
        }
    </div>
}


<script>

    $('#btnRefresh').click(function () {

        window.location.reload();
    });


    $("#btnSearch").click(function () {

        var CertificateIssueDateFrom = $("#txtCertificateIssueDateFrom").val();
        var CertificateIssueDateTo = $("#txtCertificateIssueDateTo").val();
        if (CertificateIssueDateFrom == "" && CertificateIssueDateTo == "") {

            AlertMessage("//Please Select Date From and Date To", "5000", "fail");
        }
        else if (CertificateIssueDateFrom == "" || CertificateIssueDateTo == "") {

            AlertMessage("//Please Select Date From and Date To", "5000", "fail");
        }
        else {

            $.ajax({

                url: '@Url.Action("GetBusinessMISDetails", "Home")',
                data: { CertificateIssueDateFrom: CertificateIssueDateFrom, CertificateIssueDateTo: CertificateIssueDateTo },
                datatype: 'json',
                type: "POST",
                beforeSend: function () {

                    $("#LoadingImage").show();
                },
                success: function (result) {

                    if (result.status == '@CrossCutting_Constant.Success') {

                        if (result.isDataFound) {

                            $("#divBusinessMISDetail").empty();
                            $("#divBusinessMISDetail").append(result.Html);
                        }
                        else {

                            $("#divBusinessMISDetail").empty();
                            AlertMessage("//Data Not Found.", "5000", "warn");
                            //AlertMessage("//" + result.ErrorMessage + "", "5000", "fail");
                        }
                    }
                    else {

                        $("#divBusinessMISDetail").empty();
                        AlertMessage("//" + result.errormessage + "", "5000", "fail");
                    }
                }
            });
        }
    });


    $("#btnDownload").click(function () {

        var FromDate = $("#txtCertificateIssueDateFrom").val();
        var ToDate = $("#txtCertificateIssueDateTo").val();

        if (FromDate != '' && ToDate != '') {

            window.location.href = '@Url.Content("~/Home/DownloadBusinessMISDetails?CertificateIssueDateFrom=")' + FromDate + '&CertificateIssueDateTo=' + ToDate
        }
        else {

           AlertMessage("//Please Select Date From and Date To", "5000", "fail")
        }
    }); 


    $("#txtCertificateIssueDateFrom").datepicker({
        todayHighlight: true,
        format: 'dd/mm/yyyy',
        autoclose: true,
    }).on('changeDate', function (selected) {
        startDate = new Date(selected.date.valueOf());
        var day = startDate.getDate();
        var mont = startDate.getMonth() + 1;
        var year = startDate.getFullYear();
        if (day < 10) day = "0" + day;
        if (mont < 10) mont = "0" + mont;
        var newDate = mont + "/" + day + "/" + year;
        $('#txtCertificateIssueDateTo').datepicker('setStartDate', new Date(newDate));
    });


    $("#txtCertificateIssueDateTo").datepicker({
        todayHighlight: true,
        format: 'dd/mm/yyyy',
        autoclose: true,
    }).on('changeDate', function (selected) {
        startDate = new Date(selected.date.valueOf());
        var day = startDate.getDate();
        var mont = startDate.getMonth() + 1;
        var year = startDate.getFullYear();
        if (day < 10) day = "0" + day;
        if (mont < 10) mont = "0" + mont;
        var newDate = mont + "/" + day + "/" + year;
        $('#txtCertificateIssueDateFrom').datepicker('setEndDate', new Date(newDate));
    });

</script>