﻿
@{
    ViewBag.Title = "Cheque Status Upload";
}

<style>
    td {
        text-align: center;
    }

    th {
        text-align: center;
    }

    tblStatusMapping > th, td {
        color: black !important;
    }
</style>

<h2 class="main-title text-center" style="color:#716f6f !important">Cheque Status Upload</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <p class="active-class" style="color:#fff">
            <span>Status Value Mapping</span>
        </p>
    </div>
    <div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-lg-6 col-sm-6 form-group">
                    <ul style="list-style-type:disc">
                        <li><strong>Status Code Mapping</strong></li>
                        <li>1 For 'Payment Entry'</li>
                        <li>2 For 'Pending Payment'</li>
                        <li>3 For 'Payment Deposition'</li>
                        <li>4 For 'Cheque Bounced'</li>
                        <li>5 For 'Payment Confirmation'</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-sm-6 form-group">
                    <ul style="list-style-type:disc">
                        <li><strong>Payout Code Mapping</strong></li>
                        <li>PR For 'Payout Released'</li>
                        <li>PP For 'Payout Pending'</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("CustomerChequeStatusUpdate", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="active-class" style="color:#fff">
                <span>Customer Cheque Status Update</span>
                <a style="float: right;color:#fff;" href="/Home/DownloadCustomerChequeStatusSheet/">Download Template</a>
            </p>
        </div>
        <div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-lg-6 col-sm-6 form-group">
                        <label class="col-lg-4 col-sm-4 control-label text-right">
                            Browse Excel:
                        </label>
                        <div class="col-lg-8 col-sm-8">
                            <input type="file" id="CustomerChequeStatusFileUpload" name="FileUpload" />
                            <input type="submit" value="Upload" id="btnCustomerChequeStatusSubmit" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("AgentChequeStatusUpdate", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="active-class" style="color:#fff">
                <span>Agent Payment Status Update</span>
                <a style="float: right;color:#fff;" href="/Home/DownloadAgentPaymentStatusSheet/">Download Template</a>
            </p>
        </div>
        <div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-lg-6 col-sm-6 form-group">
                        <label class="col-lg-4 col-sm-4 control-label text-right">
                            Browse Excel:
                        </label>
                        <div class="col-lg-8 col-sm-8">
                            <input type="file" id="AgentPaymentStatusFileUpload" name="FileUpload" />
                            <input type="submit" value="Upload" id="btnAgentPaymentStatusSubmit" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>
    $(document).ready(function () {

        ////////////////////// Customer Cheque Status Upload /////////////////
        $("#btnCustomerChequeStatusSubmit").on("click", function () {
            var val = $('#CustomerChequeStatusFileUpload').val();
            if (val == null || val == "") {
                AlertMessage("// Please select valid customer cheque status master data file.", "5000", "fail");
                return false;
            }
            var data = new FormData();
            var files = $('#CustomerChequeStatusFileUpload').get(0).files;
            var currentfilename = files[0].name;
            var extension = currentfilename.substring(currentfilename.lastIndexOf('.') + 1);
            var ex = extension.toLowerCase();

            if (ex != "xls" && ex != "xlsx") {
                AlertMessage("// Customer Cheque Status master data file should be .xls or .xlsx format. Please Try Again", "5000", "fail");
                return false;
            }
        });

        ////////////////////// Agent Payment Status Update Upload /////////////////
        $("#btnAgentPaymentStatusSubmit").on("click", function () {
            var val = $('#AgentPaymentStatusFileUpload').val();
            if (val == null || val == "") {
                AlertMessage("// Please select valid agent payment status master data file.", "5000", "fail");
                return false;
            }
            var data = new FormData();
            var files = $('#AgentPaymentStatusFileUpload').get(0).files;
            var currentfilename = files[0].name;
            var extension = currentfilename.substring(currentfilename.lastIndexOf('.') + 1);
            var ex = extension.toLowerCase();

            if (ex != "xls" && ex != "xlsx") {
                AlertMessage("// Agent Payment Status master data file should be .xls or .xlsx format. Please Try Again", "5000", "fail");
                return false;
            }
        });
    });
</script>

