﻿@{
    ViewBag.Title = "CommisionReportMIS";
}

<h2 class="main-title text-center" style="color:#716f6f !important">Commision Report MIS</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        <p class="active-class" style="color:#fff"><strong>Commision Report MIS</strong></p>
    </div>

    <div class="panel-body" style="background-color: #fff">
        <div class="row">

            <div class="col-md-4">
                <label><span>&nbsp;</span></label>
                <div class="form-group">
                    <div>
                        <label>Certificate No</label>
                    </div>
                    <input type="text" class="form-control" id="txtCertificateNo">
                </div>
            </div>
            <div class="col-md-4">
                <label><span>&nbsp;</span></label>
                <div class="form-group">
                    <div>
                        <label>First Name</label>
                    </div>
                    <input type="text" class="form-control" id="txtFirstName">
                </div>
            </div>
            <div class="col-md-4">
                <label><span>&nbsp;</span></label>
                <div class="form-group">
                    <div>
                        <label>Last Name</label>
                    </div>
                    <input type="text" class="form-control" id="txtLastName">
                </div>
            </div>
            <div class="col-md-4">
                <label><span>&nbsp;</span></label>
                <div class="form-group">
                    <div>
                        <label>Issue Date From</label>
                    </div>
                    <input type="text" class="form-control removeBackgroundcolor" id="txtCertificateIssueDateFrom" readonly />
                </div>
            </div>
            <div class="col-md-4">
                <label><span>&nbsp;</span></label>
                <div class="form-group">
                    <div>
                        <label>Issue Date To</label>
                    </div>
                    <input type="text" class="form-control removeBackgroundcolor" id="txtCertificateIssueDateTo" readonly />
                </div>
            </div>
            <div class="col-md-4">
                <label><span>&nbsp;</span></label>
                <div class="form-group">
                    <div>
                        <label>TieUpCompany</label>
                    </div>
                    <select class="form-control" id="ddlTieUpCompany">
                        @if (ViewBag.TieUpCompanyListItem != null)
                        {
                            foreach (var item in ViewBag.TieUpCompanyListItem)
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        }
                        else
                        {
                            <option value="0">SELECT</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-sm-12">
            <div class="col-lg-4 col-sm-4"></div>
            <div class="col-lg-12 col-sm-6 form-group text-center">
                <input type="button" class="btn btn-primary" style="margin:05% 3% 05% 0%" value="Download" name="" id="btnSearch">
                <input type="button" value="Refresh" id="btnRefresh" ; class="btn btn-primary" />
            </div>
        </div>


    </div>
</div>






<script>
    $('#btnRefresh').click(function () {
        window.location.reload();
    });

    function DDMMYYYY_TO_MMDDYYYY(DDMMYYYY) {
        var splitDate = DDMMYYYY.split('/');
        var MMDDYYYY = splitDate[1] + "/" + splitDate[0] + "/" + splitDate[2];
        return MMDDYYYY;
    }

    $(document).ready(function () {
        ///////////////////////////////////// Submit /////////////////////////////////////////

        $("#btnSearch").click(function () {
            var CertificateIssueDateFrom = $("#txtCertificateIssueDateFrom").val();
            var CertificateIssueDateTo = $("#txtCertificateIssueDateTo").val();
            var CertificateNo = $("#txtCertificateNo").val();
            var FirstName = $("#txtFirstName").val();
            var LastName = $("#txtLastName").val();
            var ddlTieUpCompany = $("#ddlTieUpCompany").val();
            if (ddlTieUpCompany == "" || ddlTieUpCompany == null)
            {
                ddlTieUpCompany = "0";
            }
            window.location.href = '@Url.Content("~/Home/DownloadCommisionReportMIS?CertificateIssueDateFrom=")' + CertificateIssueDateFrom + '&CertificateIssueDateTo=' + CertificateIssueDateTo + '&CertificateNo=' + CertificateNo + '&FirstName=' + FirstName + '&LastName=' + LastName + '&TieUpCompanyID=' + ddlTieUpCompany
        });


    });

    ///////////////////////////////////////////////////////////////////////////////////////////////////////////

    $("#txtCertificateIssueDateFrom").datepicker({
        todayHighlight: true,
        format: 'dd/mm/yyyy',
        autoclose: true,
    }).on('changeDate', function (selected) {
        startDate = new Date(selected.date.valueOf());
        var day = startDate.getDate();
        var mont = startDate.getMonth() + 1;
        var year = startDate.getFullYear();
        if (day < 10) day = "0" + day;
        if (mont < 10) mont = "0" + mont;
        var newDate = mont + "/" + day + "/" + year;
        $('#txtCertificateIssueDateTo').datepicker('setStartDate', new Date(newDate));
    });

    $("#txtCertificateIssueDateTo").datepicker({
        todayHighlight: true,
        format: 'dd/mm/yyyy',
        autoclose: true,
    }).on('changeDate', function (selected) {
        startDate = new Date(selected.date.valueOf());
        var day = startDate.getDate();
        var mont = startDate.getMonth() + 1;
        var year = startDate.getFullYear();
        if (day < 10) day = "0" + day;
        if (mont < 10) mont = "0" + mont;
        var newDate = mont + "/" + day + "/" + year;
        $('#txtCertificateIssueDateFrom').datepicker('setEndDate', new Date(newDate));
    });



</script>


