﻿@model GlobalAssure.Models.DashboardModel

@{
    ViewBag.Title = "Dashboard";
}

<link href="~/Content/selectwithsearch.css" rel="stylesheet" />
<script src="~/Scripts/selectwithsearch.js"></script>

<script type="text/javascript" src="~/Scripts/Piechart.js"></script>

<style>
    .select2-container .select2-selection--single {
        height: 34px !important;
    }
</style>

@using (Html.BeginForm("", "", FormMethod.Post, new { Id = "DashboardForm" }))
{
    @*<h2 class="main-title text-center" style="color:#716f6f !important">Dashboard</h2>*@

    <div class="panel panel-default">
        <div class="panel-heading" style="margin-top: -27px">
            <h4 style="color:white">Dashboard</h4>
        </div>
        <div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-lg-6 col-sm-6 form-group text-center" style="margin-top: -25px">
                        <div class="row no-padding">
                            <div class="col-md-4">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group">
                                    <div>
                                        <label>Product</label>
                                        <span class="mandatory">*</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group">
                                    @Html.DropDownListFor(x => x.ProductID, new SelectList(Model.ProductListItem, "Key", "Value"), "ALL", new { @class = "form-control validate[required]", @id = "ddlProduct" })
                                </div>
                            </div>
                        </div>

                        <div class="row no-padding" style="margin-top: -10px">
                            <hr />
                        </div>

                        <div class="row no-padding" style="margin-top: -30px">
                            <div class="col-md-4">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group">
                                    <div>
                                        <label>Pending For Payment :</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group"></div>
                            </div>
                        </div>

                        <div class="row no-padding">
                            <div class="col-md-4" style="margin-top: -10px">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group">
                                    <div>
                                        <label>Certificate Count</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: -10px">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group" style="cursor: no-drop">
                                    @Html.TextBoxFor(x => x.PendingPaymentCertificateCount, new { @class = "form-control", @readonly = "readonly", @id = "txtPendingCertificateCount" })
                                </div>
                            </div>
                        </div>

                        <div class="row no-padding">
                            <div class="col-md-4" style="margin-top: -10px">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group">
                                    <div>
                                        <label>Total Amount</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: -10px">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group" style="cursor: no-drop">
                                    @Html.TextBoxFor(x => x.PendingPaymentTotalAmount, new { @class = "form-control", @readonly = "readonly", @id = "txtPendingTotalAmount" })
                                </div>
                            </div>
                        </div>

                        <div class="row no-padding">
                            <div id="piechart_3d_1" style="width: 700px; height: 500px;">

                            </div>
                        </div>

                        <div class="row no-padding" style="margin-top: -20px">
                            <hr />
                        </div>

                        <div class="row no-padding">
                            <div class="col-md-2">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group">
                                    <div>
                                        <label>Date From</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group">
                                    <input type="text" class="form-control removeBackgroundcolor" id="txtCertificateIssueDateFrom" readonly />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group">
                                    <div>
                                        <label>Date To</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group">
                                    <input type="text" class="form-control removeBackgroundcolor" id="txtCertificateIssueDateTo" readonly />
                                </div>
                            </div>
                        </div>

                        <div class="row no-padding" style="margin-top: 10px">
                            <hr />
                        </div>

                        <div class="row no-padding" style="margin-top: -30px">
                            <div class="col-md-4">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group">
                                    <div>
                                        <label>Certificate Issued :</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group"></div>
                            </div>
                        </div>

                        <div class="row no-padding">
                            <div class="col-md-4" style="margin-top: -10px">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group">
                                    <div>
                                        <label>Certificate Count</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: -10px">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group" style="cursor: no-drop">
                                    @Html.TextBoxFor(x => x.CertificateIssuedCount, new { @class = "form-control", @readonly = "readonly", @id = "txtCertificateIssuedCount" })
                                </div>
                            </div>
                        </div>

                        <div class="row no-padding">
                            <div class="col-md-4" style="margin-top: -10px">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group">
                                    <div>
                                        <label>Total Amount</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: -10px">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group" style="cursor: no-drop">
                                    @Html.TextBoxFor(x => x.CertificateIssuedTotalAmount, new { @class = "form-control", @readonly = "readonly", @id = "txtCertificateIssuedTotalAmount" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 form-group text-center" style="margin-top: -25px">
                        <div class="row no-padding">
                            <div class="col-md-4">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group">
                                    <div>
                                        <label></label>
                                        <span class="mandatory"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group">
                                </div>
                            </div>
                        </div>

                        <div class="row no-padding" style="margin-top: 5px">
                            <hr />
                        </div>

                        <div class="row no-padding" style="margin-top: -30px">
                            <div class="col-md-4">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group">
                                    <div>
                                        <label>Today Payment Received :</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group"></div>
                            </div>
                        </div>

                        <div class="row no-padding">
                            <div class="col-md-4" style="margin-top: -10px">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group">
                                    <div>
                                        <label>Certificate Count</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: -10px">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group" style="cursor: no-drop">
                                    @Html.TextBoxFor(x => x.TodayPaymentReceivedCertificateCount, new { @class = "form-control", @readonly = "readonly", @id = "txtTodayCertificateCount" })
                                </div>
                            </div>
                        </div>

                        <div class="row no-padding">
                            <div class="col-md-4" style="margin-top: -10px">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group">
                                    <div>
                                        <label>Total Amount</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: -10px">
                                <label><span>&nbsp;</span></label>
                                <div class="form-group" style="cursor: no-drop">
                                    @Html.TextBoxFor(x => x.TodayPaymentReceivedTotalAmount, new { @class = "form-control", @readonly = "readonly", @id = "txtTodayTotalAmount" })
                                </div>
                            </div>
                        </div>

                        <div class="row no-padding">
                            <div id="piechart_3d_2" style="width: 700px; height: 500px;">

                            </div>
                        </div>

                        <div class="row no-padding" style="margin-top: -20px">
                            <hr />
                        </div>

                        <div class="row no-padding" style="margin-top: -20px">
                            <div class="col-md-8 text-left" style="margin-top: 20px">
                                <input type="button" class="btn btn-primary" style="margin:05% 3% 05% 0%" value="Search" name="" id="btnSearch">
                                <input type="button" value="Refresh" id="btnRefresh" ; class="btn btn-primary" />
                            </div>
                        </div>

                        <div class="row no-padding" style="margin-top: -10px">
                            <hr />
                        </div>

                        <div class="row no-padding" style="margin-left: -100px">
                            <div id="piechart_3d_3" style="width: 800px; height: 600px; margin-top: -21px">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>

    $('#btnRefresh').click(function () {

        window.location.reload();
    });

    $(document).ready(function () {

        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart1);
        google.charts.setOnLoadCallback(drawChart2);
        google.charts.setOnLoadCallback(drawChart3);

        function drawChart1() {

            var dataValues = @Html.Raw(Json.Encode(ViewData["PieChartData_1"]));

            var data = new google.visualization.DataTable();

            data.addColumn('string', 'Product');
            data.addColumn('number', 'Amount');

            for (var i = 0; i < dataValues.length; i++) {

                data.addRow([dataValues[i].ProductName, dataValues[i].TotalAmount]);
            }

            var options = {

                title: 'Pending For Payment Chart :',
                is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart_3d_1'));
            chart.draw(data, options);
        }

        function drawChart2() {

            var dataValues = @Html.Raw(Json.Encode(ViewData["PieChartData_2"]));

            var data = new google.visualization.DataTable();

            data.addColumn('string', 'Product');
            data.addColumn('number', 'Amount');

            for (var i = 0; i < dataValues.length; i++) {

                data.addRow([dataValues[i].ProductName, dataValues[i].TotalAmount]);
            }

            var options = {

                title: 'Today Payment Received Chart :',
                is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart_3d_2'));
            chart.draw(data, options);
        }  

        function drawChart3() {

            var dataValues = @Html.Raw(Json.Encode(ViewData["PieChartData_3"]));

            var data = new google.visualization.DataTable();

            data.addColumn('string', 'Product');
            data.addColumn('number', 'Amount');

            for (var i = 0; i < dataValues.length; i++) {

                data.addRow([dataValues[i].ProductName, dataValues[i].TotalAmount]);
            }

            var options = {

                title: 'Certificate Issued Chart :',
                is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart_3d_3'));
            chart.draw(data, options);
        }        
    });


    $(document).ready(function () {

        $("#ddlProduct").each(function () {

            $('option', this).each(function () {

                if ($(this).text().toLowerCase() == "pc") {

                    $(this).text("Private Car");
                }
                else if ($(this).text().toLowerCase() == "tw") {

                    $(this).text("Two Wheeler");
                }
                else if ($(this).text().toLowerCase() == "cv") {

                    $(this).text("Commercial Vehicle");
                }
                else if ($(this).text().toLowerCase() == "th") {

                    $(this).text("Three Wheeler");
                }
                else if ($(this).text().toLowerCase() == "cl") {

                    $(this).text("Pedal Cycle");
                }
                else if ($(this).text().toLowerCase() == "tc") {

                    $(this).text("Covid");
                }
                else if ($(this).text().toLowerCase() == "tci") {

                    $(this).text("Covid Indemnity");
                }
                else if ($(this).text().toLowerCase() == "lc") {

                    $(this).text("Life Value Care");
                }
            });
        });
    });


    $("#ddlProduct").on('change', function (e) {

        $('#txtCertificateIssueDateFrom').val("");
        $('#txtCertificateIssueDateTo').val("");
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart3);

        function drawChart3() {

            var dataValues = @Html.Raw(Json.Encode(ViewData["PieChartData_3"]));

            var data = new google.visualization.DataTable();

            data.addColumn('string', 'Product');
            data.addColumn('number', 'Amount');

            for (var i = 0; i < dataValues.length; i++) {

                data.addRow([dataValues[i].ProductName, dataValues[i].TotalAmount]);
            }

            var options = {

                title: 'Certificate Issued Chart :',
                is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart_3d_3'));
            chart.draw(data, options);
        }

        //var valid = $("#DashboardForm").validationEngine('validate');
        var valid = true;
        if (valid) {

            var ProductId = $(this).val();
            if (ProductId == "") {

                ProductId = '0';
            }
            else {

                ProductId = $(this).val();
            }

            $.ajax({

                url: '@Url.Action("GetDashboardDataByProductID", "Home")',
                data: { ProductID: ProductId },
                datatype: 'json',
                type: "POST",
                beforeSend: function () {

                    $("#LoadingImage").show();
                },
                success: function (result) {

                    if (result.status == '@CrossCutting_Constant.Success') {

                        $('#txtPendingCertificateCount').val(result.pendingpaymentcertificatecount);
                        $('#txtPendingTotalAmount').val(result.pendingpaymenttotalamount);

                        $('#txtTodayCertificateCount').val(result.todaypaymentreceivedcertificatecount);
                        $('#txtTodayTotalAmount').val(result.todaypaymentreceivedtotalamount);

                        $('#txtCertificateIssuedCount').val(result.certificateissuedcount);
                        $('#txtCertificateIssuedTotalAmount').val(result.certificateissuedtotalamount);

                        if (result.piechart_1_datalist != null) {

                            var Values_1 = result.piechart_1_datalist;

                            google.charts.load("current", { packages: ["corechart"] });
                            google.charts.setOnLoadCallback(drawChart1);

                            function drawChart1() {

                                var dataValues = Values_1;

                                var data = new google.visualization.DataTable();

                                data.addColumn('string', 'Product');
                                data.addColumn('number', 'Amount');

                                for (var i = 0; i < dataValues.length; i++) {

                                    data.addRow([dataValues[i].ProductName, dataValues[i].TotalAmount]);
                                }

                                var options = {

                                    title: 'Pending For Payment Chart :',
                                    is3D: true,
                                };

                                var chart = new google.visualization.PieChart(document.getElementById('piechart_3d_1'));
                                chart.draw(data, options);
                            }
                        }
                        else {


                        }

                        if (result.piechart_2_datalist != null) {

                            var Values_2 = result.piechart_2_datalist;

                            google.charts.load("current", { packages: ["corechart"] });
                            google.charts.setOnLoadCallback(drawChart2);

                            function drawChart2() {

                                var dataValues = Values_2;

                                var data = new google.visualization.DataTable();

                                data.addColumn('string', 'Product');
                                data.addColumn('number', 'Amount');

                                for (var i = 0; i < dataValues.length; i++) {

                                    data.addRow([dataValues[i].ProductName, dataValues[i].TotalAmount]);
                                }

                                var options = {

                                    title: 'Pending For Payment Chart :',
                                    is3D: true,
                                };

                                var chart = new google.visualization.PieChart(document.getElementById('piechart_3d_2'));
                                chart.draw(data, options);
                            }
                        }
                        else {


                        }
                    }
                    else {

                        AlertMessage("//" + result.errormessage + "", "5000", "fail");
                    }
                }
            });
        }
        else {

            $("#DashboardForm").validationEngine('validate');
        }
    });


    $("#btnSearch").click(function () {

        var CertificateIssueDateFrom = $("#txtCertificateIssueDateFrom").val();
        var CertificateIssueDateTo = $("#txtCertificateIssueDateTo").val();
        if (CertificateIssueDateFrom == "" && CertificateIssueDateTo == "") {

            AlertMessage("//Please Select Date From or Date To", "5000", "fail");
        }
        else {

            var ProductId = $("#ddlProduct").val();
            if (ProductId == "") {

                ProductId = '0';
            }
            else {

                ProductId = $("#ddlProduct").val();
            }

            $.ajax({

                url: '@Url.Action("GetDashboardCertificateIssuedDetails", "Home")',
                data: { ProductId: ProductId, CertificateIssueDateFrom: CertificateIssueDateFrom, CertificateIssueDateTo: CertificateIssueDateTo },
                datatype: 'json',
                type: "POST",
                beforeSend: function () {

                    $("#LoadingImage").show();
                },
                success: function (result) {

                    if (result.status == '@CrossCutting_Constant.Success') {

                        $('#txtCertificateIssuedCount').val(result.certificateissuedcount);
                        $('#txtCertificateIssuedTotalAmount').val(result.certificateissuedtotalamount);

                        if (result.piechartdatalist != null) {

                            var Values = result.piechartdatalist;

                            google.charts.load("current", { packages: ["corechart"] });
                            google.charts.setOnLoadCallback(drawChart3_DateRange);

                            function drawChart3_DateRange() {

                                var dataValues = Values;

                                var data = new google.visualization.DataTable();

                                data.addColumn('string', 'Product');
                                data.addColumn('number', 'Amount');

                                for (var i = 0; i < dataValues.length; i++) {

                                    data.addRow([dataValues[i].ProductName, dataValues[i].TotalAmount]);
                                }

                                var options = {

                                    title: 'Certificate Issued Chart By Date Range :',
                                    is3D: true,
                                };

                                var chart = new google.visualization.PieChart(document.getElementById('piechart_3d_3'));
                                chart.draw(data, options);
                            }
                        }
                        else {


                        }                           
                    }
                    else {

                        AlertMessage("//" + result.errormessage + "", "5000", "fail");
                    }
                }
            });
        }        
    });


    $("#txtCertificateIssueDateFrom").datepicker({
        todayHighlight: true,
        format: 'dd/mm/yyyy',
        autoclose: true,
    }).on('changeDate', function (selected) {
        startDate = new Date(selected.date.valueOf());
        var day = startDate.getDate();
        var mont = startDate.getMonth() + 1;
        var year = startDate.getFullYear();
        if (day < 10) day = "0" + day;
        if (mont < 10) mont = "0" + mont;
        var newDate = mont + "/" + day + "/" + year;
        $('#txtCertificateIssueDateTo').datepicker('setStartDate', new Date(newDate));
    });

    $("#txtCertificateIssueDateTo").datepicker({
        todayHighlight: true,
        format: 'dd/mm/yyyy',
        autoclose: true,
    }).on('changeDate', function (selected) {
        startDate = new Date(selected.date.valueOf());
        var day = startDate.getDate();
        var mont = startDate.getMonth() + 1;
        var year = startDate.getFullYear();
        if (day < 10) day = "0" + day;
        if (mont < 10) mont = "0" + mont;
        var newDate = mont + "/" + day + "/" + year;
        $('#txtCertificateIssueDateFrom').datepicker('setEndDate', new Date(newDate));
    });

</script>

