﻿<link href="~/Content/selectwithsearch.css" rel="stylesheet" />
<script src="~/Scripts/selectwithsearch.js"></script>

@{
    ViewBag.Title = "Download Invoice";
}

<style>
    .select2-container .select2-selection--single {
        height: 34px !important;
    }
</style>



<h2 class="main-title text-center" style="color:#716f6f !important">Download Invoice</h2>

<div class="panel panel-default">
    <div class="panel-heading" style="background-color:#34aeeb">
        <p class="active-class" style="color:#fff"><span>Download</span></p>
    </div>
    <div class="no-padding">
        <div class="row" style="margin:5px 5px 3px 49px">
            <div class="col-md-4">
                <label><span>&nbsp;</span></label>
                <div class="form-group">
                    <div>
                        <label>User</label>
                    </div>
                    @Html.DropDownList("UserName", new SelectList(ViewBag.UserListItem, "Key", "Value"), "SELECT USER", new { @class = "form-control", @id = "ddlUserName" })
                </div>
            </div>
            <div class="col-md-4">
                <label><span>&nbsp;</span></label>
                <div class="form-group">
                    <div>
                        <label>Date From</label>
                    </div>
                    <input type="text" class="form-control removeBackgroundcolor" id="txtDateFrom" readonly />
                </div>
            </div>
            <div class="col-md-4">
                <label><span>&nbsp;</span></label>
                <div class="form-group">
                    <div>
                        <label>Date To</label>
                    </div>
                    <input type="text" class="form-control removeBackgroundcolor" id="txtDateTo" readonly />
                </div>
            </div>

            <div class="col-lg-12 col-sm-12">
                <div class="col-lg-4 col-sm-4"></div>
                <div class="col-lg-12 col-sm-6 form-group text-center">
                    <input type="button" value="Download" id="btnDownloadInvoice" style="margin:05% 3% 05% 0%" class="btn btn-primary" />
                    <input type="button" value="Refresh" id="btnRefresh" ; class="btn btn-primary" />
                </div>
            </div>

            

        </div>
    </div>
</div>


<script>

    $('#btnRefresh').click(function () {
        window.location.reload();
    });
    
    $("#ddlUserName").select2();

    $("#txtDateFrom").datepicker({
        todayHighlight: true,
        format: 'dd/mm/yyyy',
        autoclose: true,
    }).on('changeDate', function (selected) {
        startDate = new Date(selected.date.valueOf());
        var day = startDate.getDate();
        var mont = startDate.getMonth() + 1;
        var year = startDate.getFullYear();
        if (day < 10) day = "0" + day;
        if (mont < 10) mont = "0" + mont;
        var newDate = mont + "/" + day + "/" + year;
        $('#txtDateTo').datepicker('setStartDate', new Date(newDate));
    });

    $("#txtDateTo").datepicker({
        todayHighlight: true,
        format: 'dd/mm/yyyy',
        autoclose: true,
    }).on('changeDate', function (selected) {
        startDate = new Date(selected.date.valueOf());
        var day = startDate.getDate();
        var mont = startDate.getMonth() + 1;
        var year = startDate.getFullYear();
        if (day < 10) day = "0" + day;
        if (mont < 10) mont = "0" + mont;
        var newDate = mont + "/" + day + "/" + year;
        $('#txtDateFrom').datepicker('setEndDate', new Date(newDate));
    });


    $("#btnDownloadInvoice").on("click", function () {
        window.location.href = '@Url.Content("~/Home/DownloadInvoiceZip?DateFrom=")' + $("#txtDateFrom").val() + '&DateTo=' + $("#txtDateTo").val() + '&UploadedBy=' + $("#ddlUserName").val()
    });

</script>


