﻿@model GlobalAssure.Models.TransactionModel

@{
    ViewBag.Title = "Issue Covid Indemnity Certificate";
}

<link href="~/Content/selectwithsearch.css" rel="stylesheet" />
<script src="~/Scripts/selectwithsearch.js"></script>

<style>
    .select2-container .select2-selection--single {
        height: 34px !important;
    }
</style>

@using (Html.BeginForm("", "", FormMethod.Post, new { Id = "TransactionForm" }))
{
    <h2 class="main-title text-center" style="color:#716f6f !important">Covid Indemnity Issue Certificate</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="active-class" style="color:white"><img src="~/Image/Site/Forma 1-2.png" />&nbsp;&nbsp; Permanent Address</p>
        </div>

        <div class="width-100 panel-body" style="background-color: #fff">
            <div style="margin:5px 5px 3px 49px">

                <div class="row no-padding">
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>State</label>
                                <span class="mandatory">*</span>
                            </div>
                            @Html.DropDownListFor(x => x.PermanentStateID, new SelectList(Model.PermanentStateListItem, "Key", "Value"), "State", new { @class = "form-control validate[required]", @id = "ddlPermanentState" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>City</label>
                                <span class="mandatory">*</span>
                            </div>
                            @Html.DropDownListFor(x => x.PermanentCityID, new SelectList(Model.PermanentCityListItem, "Key", "Value"), "City", new { @class = "form-control validate[required]", @id = "ddlPermanentCity" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Address1</label>
                                <span class="mandatory">*</span>
                            </div>
                            @Html.TextAreaFor(x => x.PermanentAddress, new { @class = "form-control validate[required]", @maxlength = 100, @id = "txtPermanentAddress" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Address2</label>
                                @*<span class="mandatory">*</span>*@
                            </div>
                            @Html.TextAreaFor(x => x.PermanentAddress2, new { @class = "form-control", @maxlength = 100, @id = "txtPermanentAddress2" })
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="active-class" style="color:white"><img src="~/Image/Site/Forma 1.png" />&nbsp;&nbsp; Product Details</p>
        </div>
        <div class="width-100 panel-body" style="background-color: #fff">
            <div style="margin:5px 5px 3px 49px">

                <div class="row no-padding">
                    <div class="col-md-3">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Sum Insured</label>
                                <span class="mandatory">*</span>
                            </div>
                            @Html.DropDownListFor(x => x.SumInsuredID, new SelectList(Model.SumInsuredListItem, "Key", "Value"), "Sum Insured", new { @class = "form-control validate[required]", @id = "ddlSumInsured" })
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Plan</label>
                                <span class="mandatory">*</span>
                            </div>
                            @Html.DropDownListFor(x => x.PlanID, new SelectList(Model.PlanListItem, "Key", "Value"), "Plan", new { @class = "form-control validate[required]", @id = "ddlPlan" })
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Hospitalisation Cover</label>
                            </div>
                            <select class="form-control" disabled="disabled" id="ddlDiagnosisCover" name="DiagnosisCover">
                                <option value="1">Yes</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Quarantine Cover</label>
                                @*<span class="mandatory">*</span>*@
                            </div>
                            @Html.DropDownListFor(x => x.PrimaryCover, new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "No", Value = "0"},
                                            new SelectListItem { Text = "Yes", Value = "1"},
                                        }, "Quarantine Cover", new { @class = "form-control", @id = "ddlPrimaryCover", @disabled = "disabled" })
                        </div>
                    </div>
                </div>

                <div class="row no-padding">

                    <div class="col-md-3">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Daily Cash Cover</label>
                            </div>
                            @Html.DropDownListFor(x => x.SecondaryCover, new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "No", Value = "0"},
                                            new SelectListItem { Text = "Yes", Value = "1"},
                                        }, "Daily Cash Cover", new { @class = "form-control", @id = "ddlSecondaryCover", @disabled = "disabled" })                            
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Travel Excl Cover</label>
                                @*<span class="mandatory">*</span>*@
                            </div>
                            <select class="form-control" disabled="disabled" id="ddlLossofpay" name="Lossofpay">
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Any Pre-Existing Disease ?</label>
                                <span class="mandatory">*</span>
                            </div>
                            @Html.DropDownListFor(x => x.PreExDisease, new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "No", Value = "0"},
                                            new SelectListItem { Text = "Yes", Value = "1"},
                                        }, new { @class = "form-control", @id = "ddlPreExDisease" })
                        </div>
                    </div>

                    <div class="col-md-3" id="dvDiseaseName" style="display:none">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Disease Name</label>
                                <span class="mandatory">*</span>
                            </div>
                            @Html.TextBoxFor(x => x.DiseaseName, new { @class = "form-control validate[required]", @id = "txtDiseaseName", @maxlength = 250 })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="active-class" style="color:white"><img src="~/Image/Site/Forma 1-1.png" />&nbsp;&nbsp; Plan Details</p>
        </div>
        <div class="width-100 panel-body" style="background-color: #fff">
            <div style="margin:5px 5px 3px 49px">

                <div class="row no-padding">
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Plan Amount</label>
                            </div>
                            <input type="text" class="form-control" id="txtPlanAmount" readonly>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>GST Amount</label>
                            </div>
                            <input name="" type="text" class="form-control" id="txtGSTAmount" readonly>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Total Plan Amount</label>
                            </div>
                            <input type="text" class="form-control" id="txtTotalPlanAmount" readonly />
                        </div>
                    </div>
                </div>

                <div class="row no-padding">
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Certificate Start Date</label>

                            </div>

                            @Html.TextBoxFor(a => a.CoverStartDate, "{0:dd/MM/yyyy}", new { @class = "form-control removeBackgroundcolor", @id = "txtCoverStartDate", @readonly = "readonly" })

                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Certificate End Date</label>

                            </div>
                            @Html.TextBoxFor(a => a.CoverEndDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @id = "txtCoverEndDate", @readonly = "readonly" })

                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Certificate Issue Date</label>

                            </div>
                            @Html.HiddenFor(h => h.IssueByID)
                            <input type="text" value='@(DateTime.Now.ToString("dd/MM/yyyy"))' class="form-control" id="txtissuedate" readonly />

                        </div>
                    </div>

                    <div class="col-md-4" style="display:none">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Balance Amount</label>
                            </div>
                            @Html.HiddenFor(a => a.TotalFloatPlanAmount, new { @class = "form-control", @id = "txtTotalFloatPlanAmount", @readonly = "readonly" })
                            @Html.HiddenFor(a => a.TotalUsedPlanAmount, new { @class = "form-control", @id = "txtTotalUsedPlanAmount", @readonly = "readonly" })
                            @Html.TextBoxFor(a => a.TotalBalanceAmount, new { @class = "form-control", @id = "txtTotalBalanceAmount", @readonly = "readonly" })
                            @Html.HiddenFor(a => a.PACoverStartDate, new { @class = "form-control", @id = "hdnPACoverStartDate", @readonly = "readonly" })
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="active-class" style="color:white"><img src="~/Image/Site/Forma 1-3.png" />&nbsp;&nbsp; Custormer Details</p>
        </div>
        <div class="width-100 panel-body" style="background-color: #fff">
            <div style="margin:5px 5px 3px 49px">

                <div class="row no-padding">
                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>First Name</label>
                                <span class="mandatory">*</span>
                            </div>
                            @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control validate[required]  validate[custom[name]]", @maxlength = 25, @id = "txtCustomerName" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Middle Name</label>

                            </div>
                            @Html.TextBoxFor(x => x.CustomerMiddleName, new { @class = "form-control validate[custom[name]]", @maxlength = 25, @id = "txtCustomerMiddleName" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Last Name</label>
                            </div>
                            @Html.TextBoxFor(x => x.CustomerLastName, new { @class = "form-control validate[custom[name]]", @maxlength = 25, @id = "txtCustomerLastName" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Email ID</label>
                                <span class="mandatory">*</span>
                            </div>
                            @Html.TextBoxFor(x => x.CustomerEmail, new { @class = "form-control validate[required] validate[custom[email]] maxSize[50]", @maxlength = 50, @id = "txtCustomerEmail" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Mobile No</label>
                                <span class="mandatory">*</span>
                            </div>
                            @Html.TextBoxFor(x => x.CustomerContact, new { @class = "form-control allow_only_numbers validate[required] validate[custom[integer],maxSize[10],minSize[10],custom[sumIsZero]] ", @maxlength = 10, @id = "txtCustomerContact" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Insured Gender</label>
                                <span class="mandatory">*</span>
                            </div>
                            @Html.DropDownListFor(x => x.InsuredGenderId, new SelectList(Model.InsuredGenderListItem, "Key", "Value"), "Insured Gender", new { @class = "form-control validate[required]", @id = "ddlInsuredGender" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Insured DOB</label>
                                <span class="mandatory">*</span>
                            </div>
                            @Html.TextBoxFor(a => a.InsuredDOB, "{0:dd/MM/yyyy}", new { @class = "form-control removeBackgroundcolor validate[required]", @id = "txtInsureDOB", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Proposer Name</label>
                            </div>
                            @Html.TextBoxFor(x => x.ProposerName, new { @class = "form-control", @maxlength = 25, @id = "txtProposerName" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Proposer Gender</label>
                            </div>
                            @Html.DropDownListFor(x => x.ProposerGenderId, new SelectList(Model.ProposerGenderListItem, "Key", "Value"), "Proposer Gender", new { @class = "form-control", @id = "ddlProposerGender" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Proposer DOB</label>
                            </div>
                            @Html.TextBoxFor(x => x.ProposerDOB, "{0:dd/MM/yyyy}", new { @class = "form-control removeBackgroundcolor", @id = "txtProposerDOB", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Proposer Relationship</label>
                            </div>
                            @Html.DropDownListFor(x => x.ProposerRelationshipId, new SelectList(Model.ProposerRelationshipListItem, "Key", "Value"), "Proposer Relationship", new { @class = "form-control", @id = "ddlProposerRelationship" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Nominee Name</label>
                                <span class="mandatory">*</span>
                            </div>
                            @Html.TextBoxFor(x => x.NomineeName, new { @class = "form-control validate[required]", @maxlength = 25, @id = "txtNomineeName" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Nominee Gender</label>
                                <span class="mandatory">*</span>
                            </div>
                            @Html.DropDownListFor(x => x.NomineeGenderId, new SelectList(Model.NomineeGenderListItem, "Key", "Value"), "Nominee Gender", new { @class = "form-control validate[required]", @id = "ddlNomineeGender" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Nominee DOB</label>
                                <span class="mandatory">*</span>
                            </div>
                            @Html.TextBoxFor(a => a.NomineeDOB, "{0:dd/MM/yyyy}", new { @class = "form-control removeBackgroundcolor validate[required]", @id = "txtNomineeDOB", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Nominee Relationship</label>
                                <span class="mandatory">*</span>
                            </div>
                            @Html.DropDownListFor(x => x.NomineeRelationshipId, new SelectList(Model.NomineeRelationshipListItem, "Key", "Value"), "Nominee Relationship", new { @class = "form-control validate[required]", @id = "ddlNomineeRelationship" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label><span>&nbsp;</span></label>
                        <div class="form-group">
                            <div>
                                <label>Customer GSTIN Number</label>

                            </div>
                            @Html.TextBoxFor(x => x.GSTINNumber, new { @class = "form-control ", @maxlength = 25, @id = "txtGSTINNumber" })
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="claimIntimationAccordionOne">
            <p class="active-class" style="color:white"><img src="~/Image/Site/A.png" />&nbsp;&nbsp;Payment Details</p>
        </div>
        <div class="width-100 panel-body" style="background-color: #fff">
            <div style="margin:5px 5px 3px 44px">
                <div>
                    <div class="panel-body">
                        <div class="col-md-12" style="padding-bottom:15px;">
                            <div class="form-group">
                                <div>

                                    <label>Payment</label>
                                    <span class="mandatory">*</span>
                                </div>
                                @Html.DropDownListFor(x => x.PaymentID, new SelectList(Model.PaymentListItem, "Key", "Value"), new { @class = "form-control validate[required]", @id = "ddlPayment" })

                            </div>



                        </div>

                        <div class="col-md-12">
                            <div id="dvCashDeposit" style="display:none">
                                <div>

                                    <label>Cash Deposit Balance</label>
                                    <span class="mandatory">*</span>
                                </div>
                                @Html.TextBoxFor(x => x.Total_CD_Balance, new { @class = "form-control", @style = "display:", @readonly = "readonly", @id = "txtTotalBalance" })
                            </div>
                            <div class="form-group" id="dvCheckPayment">
                                @Html.HiddenFor(h => h.PaymentID, new { @id = "ddlPayment" })
                                <div class="col-lg-6 col-sm-6 form-group clschequetype">
                                    <label class="col-lg-4 col-sm-4 control-label text-right">
                                        Payment Type<span class="mandatory">*</span>
                                    </label>
                                    <div class="col-lg-8 col-sm-8">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(m => m.IsChequePaymentTypeIntermediary, true, new { @class = "validate[required] IsChequePaymentTypeOption", @id = "IsChequePaymentTypeIntermediaryTrue" })
                                            Intermediary
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(m => m.IsChequePaymentTypeIntermediary, false, new { @class = "validate[required] IsChequePaymentTypeOption", @id = "IsChequePaymentTypeIntermediaryFalse" })
                                            Customer
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 form-group clschequeoption">
                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(m => m.IsSingleChequeSinglePolicy, true, new { @class = "validate[required] IsSingleChequeSinglePolicyOption", @id = "chequeoptiontrue" })
                                        Single Payment Single Certificate
                                    </label>

                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(m => m.IsSingleChequeSinglePolicy, false, new { @class = "validate[required] IsSingleChequeSinglePolicyOption", @id = "chequeoptionfalse" })
                                        Single Payment Multiple Certificate
                                    </label>


                                </div>
                                <div class="col-lg-12 col-sm-12 form-group clsOnlineNowLater">
                                    <div class="col-lg-8 col-sm-8" style="left: 192px;">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(m => m.IsOnlinePayNowPayLater, true, new { @class = "validate[required] PayNow", @id = "IsOnlinePayNowTrue" })
                                            Pay Now
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(m => m.IsOnlinePayNowPayLater, false, new { @class = "validate[required] PayNow", @id = "IsOnlinePayNowFalse" })
                                            Pay Later
                                        </label>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="col-md-4">
                                    <label><span>&nbsp;</span></label>
                                    <div class="form-group clsbankdetail">
                                        <div>
                                            <label>Bank</label>
                                            <span class="mandatory">*</span>
                                        </div>
                                        @Html.DropDownListFor(x => x.BankID, new SelectList(Model.BankListItem, "Key", "Value"), "Bank", new { @class = "form-control validate[required]", @id = "ddlBank" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label><span>&nbsp;</span></label>
                                    <div class="form-group clsbankdetail">
                                        <div>
                                            <label>Branch</label>
                                            <span class="mandatory">*</span>
                                        </div>
                                        @Html.TextBoxFor(x => x.BranchName, new { @class = "form-control validate[required]", @maxlength = 50 })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label><span>&nbsp;</span></label>
                                    <div class="form-group clsbankdetail">
                                        <div>
                                            <label class="clsChequDetail">Cheque No</label>
                                            <label class="clsDDDetail">DD No</label>
                                            <span class="mandatory">*</span>
                                        </div>
                                        @Html.TextBoxFor(x => x.ChequeNo, new { @class = "form-control validate[required] validate[custom[chequeNo]] validate[custom[sumIsZero]] ", @maxlength = 50, @id = "txtChequeNo" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label><span>&nbsp;</span></label>
                                    <div class="form-group clsbankdetail">
                                        <div>
                                            <label class="clsChequDetail">Cheque Amount</label>
                                            <label class="clsDDDetail">DD Amount</label>
                                            <span class="mandatory">*</span>
                                        </div>
                                        @Html.TextBoxFor(x => x.ChequeAmount, new { @class = "form-control validate[required] decimalUpto2 maxSize[13] validate[custom[StartNonZeroNumber]]", @maxlength = 13, @id = "txtChequeAmount" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label><span>&nbsp;</span></label>
                                    <div class="form-group clsbankdetail">
                                        <div>
                                            <label class="clsChequDetail">Cheque Date</label>
                                            <label class="clsDDDetail">DD Date</label>
                                            <span class="mandatory">*</span>
                                        </div>
                                        @Html.TextBoxFor(a => a.ChequeDate, "{0:dd/MM/yyyy}", new { @class = "form-control validate[required] removeBackgroundcolor", @id = "txtChequeDate", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4 clsChequDetail" style="margin:13px 0px 0px 0px">
                                    <label><span>&nbsp;</span></label>
                                    <div class="form-group clsbankdetail">
                                        <label>Cheque Type<span class="mandatory">*</span></label>
                                        <div style="margin:-25px 0px 0px 120px">
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(m => m.IsChequeTypeLocal, true, new { @class = "validate[required] IsChequeTypeOption", @id = "IsChequeTypeLocalTrue" })
                                                Local
                                            </label>
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(m => m.IsChequeTypeLocal, false, new { @class = "validate[required] IsChequeTypeOption", @id = "IsChequeTypeLocalFalse" })
                                                Upcountry
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-4">
                                    <label><span>&nbsp;</span></label>
                                    <div class="form-group clsbankdetail">
                                        <div>
                                            <label>Remark</label>
                                        </div>
                                        @Html.TextAreaFor(x => x.Remark, new { @class = "form-control", @maxlength = 500 })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("hdnYearValidity", "0")
    @Html.HiddenFor(x => x.Total_CD_Balance, new { @id = "Total_CD_Balance" })

    @Html.HiddenFor(x => x.hdnStateID, new { @id = "hdn_StateID" })
    @Html.HiddenFor(x => x.hdnCityID, new { @id = "hdn_CityID" })

    <div class="col-lg-12">
        <div class="col-lg-12 col-sm-12 form-group text-center " style="display:none">
            @Html.Label((string)ViewBag.ErrMsg, new { @id = "lblErrMsg" })
        </div>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-12 col-sm-12 form-group text-center ">
            <input type="button" value="Submit" id="btnSaveTransaction" class="btn btn-primary" />
        </div>
    </div>

    <div class="col-lg-12">
        <div class="col-lg-12 col-sm-12 form-group text-left" style="font-size:11px;">
            I hereby confirm that,
            <br />
            1. Neither me nor my any family member or close associate is suffering from COVID19 or quarantined/I or we have not met any COVID 19 affected person in last 15 days
            <br />
            2. I am not living with and sharing the same address as that of person(s) who is/were Diagnosed with COVID- 19 or Quarantined
            <br />
            3. Have Not travelled to international destination in 45 day immediately preceding the Certificate Period Start Date (This is not applicable for Platinum cover)
        </div>
    </div>
}

<script>

    $("#ddlPermanentState").on('change', function (e) {

        var val = $(this).val();
        $('#hdn_StateID').val(val);

        $('#ddlSumInsured').val("");
        $('#ddlPlan').val("");
    });

    $("#ddlPermanentCity").on('change', function (e) {

        var val = $(this).val();
        $('#hdn_CityID').val(val);

        $('#ddlSumInsured').val("");
        $('#ddlPlan').val("");
    });

    var Is_Pay_Now = false;

    //$("#ddlPayment").on('change', function (e) {
    //    var PaymentType = $('#ddlPayment').val();
    //    switch (PaymentType) {
    //        case '1':
    //            $('.clschequeoption').show();
    //            break;
    //        case '2':
    //            $('.clschequeoption').hide();
    //            break;
    //        default:
    //            // code block
    //    }


    // })

    function check_leapyear(currYear) {

        var IsLeap = false;

		if( (0 == currYear % 4) && (0 != currYear % 100) || (0 == currYear % 400) )
		{
            IsLeap = true;
		}
		else
		{
            IsLeap = false;
        }

        return IsLeap;
	}

    function setCoverEndDate(year) {
        var yearValidity = 0;
        yearValidity = Number(year);
        var date = $('#txtCoverStartDate').val();
        date = Date.parse(DDMMYYYY_TO_MMDDYYYY(date))
        var currDate = new Date(date);
        var currYear = currDate.getFullYear();
        var currMonth = currDate.getMonth() + 1;
        var CheckLeapYear = check_leapyear(currYear);
        if (CheckLeapYear && currMonth > 2) {

                        currDate.setDate((currDate.getDate() + (364 * year)));
                    }
                    else if (CheckLeapYear && currMonth <= 2) {

                        currDate.setDate((currDate.getDate() + (365 * year)));
                    }
                    else {

                        currDate.setDate((currDate.getDate() + (364 * year)));
                    }
        var day = currDate.getDate();
        var mont = currDate.getMonth() + 1;
        var year = currDate.getFullYear();
        if (day < 10) day = "0" + day;
        if (mont < 10) mont = "0" + mont;
        var newDate = day + "/" + mont + "/" + year;

        $('#txtCoverEndDate').val(newDate);
    }

    $("#ddlBank").select2();

    // location.reload(true);
    jQuery("#TransactionForm").validationEngine();
    $(document).ready(function () {

        var PACoverDate = $('#hdnPACoverStartDate').val();

        if (PACoverDate != '') {
            $('#txtCoverStartDate').val(PACoverDate);

            startDate = new Date(PACoverDate);
            var YearValidity = $('#hdnYearValidity').val();
            if (YearValidity != "0") {
                var year = 0;
                year = Number(YearValidity);
                var currYear = startDate.getFullYear();
                var currMonth = startDate.getMonth() + 1;
                var CheckLeapYear = check_leapyear(currYear);
                if (CheckLeapYear && currMonth > 2) {

                        startDate.setDate((startDate.getDate() + (364 * year)));
                    }
                    else if (CheckLeapYear && currMonth <= 2) {

                        startDate.setDate((startDate.getDate() + (365 * year)));
                    }
                    else {

                        startDate.setDate((startDate.getDate() + (364 * year)));
                    }
                var day = startDate.getDate();
                var mont = startDate.getMonth() + 1;
                var year = startDate.getFullYear();
                if (day < 10) day = "0" + day;
                if (mont < 10) mont = "0" + mont;
                var newDate = day + "/" + mont + "/" + year;
                $('#txtCoverEndDate').val(newDate);
            }


        }
        else {

            $("#txtCoverStartDate").datepicker({
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                autoclose: true,
                startDate: new Date()
            }).on('changeDate', function (selected) {
                startDate = new Date(selected.date.valueOf());

                //var day = startDate.getDate();
                //var mont = startDate.getMonth() + 1;
                //var year = startDate.getFullYear() + 1;
                //if (day < 10) day = "0" + day;
                //if (mont < 10) mont = "0" + mont;
                //var newDate = day + "/" + mont + "/" + year;
                var YearValidity = $('#hdnYearValidity').val();
                if (YearValidity != "0") {
                    var year = 0;
                    year = Number(YearValidity);
                    var currYear = startDate.getFullYear();
                    var currMonth = startDate.getMonth() + 1;
                    var CheckLeapYear = check_leapyear(currYear);
                    if (CheckLeapYear && currMonth > 2) {

                        startDate.setDate((startDate.getDate() + (364 * year)));
                    }
                    else if (CheckLeapYear && currMonth <= 2) {

                        startDate.setDate((startDate.getDate() + (365 * year)));
                    }
                    else {

                        startDate.setDate((startDate.getDate() + (364 * year)));
                    }
                    var day = startDate.getDate();
                    var mont = startDate.getMonth() + 1;
                    var year = startDate.getFullYear();
                    if (day < 10) day = "0" + day;
                    if (mont < 10) mont = "0" + mont;
                    var newDate = day + "/" + mont + "/" + year;
                    $('#txtCoverEndDate').val(newDate);
                }

            });

        }


        $('#ddlPayment').val('0');

        $(".clsOnlineNowLater").hide();

        $("#ddlProduct").each(function () {
            $('option', this).each(function () {
                if ($(this).text().toLowerCase() == "pc") {
                    $(this).text("Private Car");
                }
                else if ($(this).text().toLowerCase() == "tw") {
                    $(this).text("Two Wheeler");
                }
                else if ($(this).text().toLowerCase() == "cv") {
                    $(this).text("Commercial Vehicle");
                }
                else if ($(this).text().toLowerCase() == "th") {
                    $(this).text("Three Wheeler");
                }
                else if ($(this).text().toLowerCase() == "cl") {
                    $(this).text("Pedal Cycle");
                }
            });
        });


        $(".spnRegistrationNo").hide();

        $(".clsbankdetail").hide();

        if ($("#IsChequePaymentTypeIntermediaryFalse").prop("checked")) {
            var PaymentType = $('#ddlPayment').val();
            //if (PaymentType == '@(CrossCutting_Constant.Payment_Cheque_ID)')
            $(".clschequeoption").show();
            if (PaymentType == '@(CrossCutting_Constant.Payment_Online_ID)') {
                $('#IsOnlinePayNowTrue').prop("checked", true);
                $('#IsOnlinePayNowFalse').prop("Disabled", true);
            }
        }


        //$(".clschequetype").hide();

        ////////////////////////////// Payment Dropdown Change ////////////////////////////
        $("#ddlTransactionType").on('change', function (e) {
            var val = $(this).val();
            var valprod = $("#ddlProduct").val();

            if (val == '@(CrossCutting_Constant.TransactionType_OLD_ID)') {
                $(".spnRegistrationNo").show();
                $("#txtRegistrationNo").addClass("validate[required]");
            }
            else {
                $(".spnRegistrationNo").hide();
                $("#txtRegistrationNo").removeClass("validate[required]");
            }

            @*if (val != "") {

                var ajaxrequest = $.ajax({
                    url: '@Url.Action("GetPlanByVehicleType", "Home")',
                    type: "POST",
                    datatype: "json",
                    data: { ProductID: valprod , VehicleTypeID : val },
                    async: false,
                    beforeSend: function () {
                        $("#LoadingImage").show();
                    }
                });
                ajaxrequest.done(function (result) {
                    if (result != null) {

                        var optionSelect = '<option value="">Select</option>';
                        var option = "";

                        if (result.makelist != null) {
                            option = "";
                            $("#ddlMake").empty().append(optionSelect);
                            for (var i = 0; i < result.makelist.length; i++) {
                                option += '<option value="' + result.makelist[i].Value + '">' + result.makelist[i].Text + '</option>';
                            }
                            $("#ddlMake").append(option);
                        }

                        if (result.planlist != null) {
                            option = "";
                            $("#ddlPlan").empty().append(optionSelect);
                            for (var i = 0; i < result.planlist.length; i++) {
                                option += '<option value="' + result.planlist[i].Value + '">' + result.planlist[i].Text + '</option>';
                            }
                            $("#ddlPlan").append(option);
                        }
                    }
                    else {

                    }
                });
                ajaxrequest.fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                });
            }*@
        });
        ///////////////////////////////////////////////////////////////////////////////////////



        /////////////////////////////////// DatePicker ///////////////////////////////////////






        $("#txtChequeDate").datepicker({
            todayHighlight: true,
            format: 'dd/mm/yyyy',
            autoclose: true,
        }).change(function () {
            $('.txtChequeDateformError').hide();
        });

        //$("#txtRegistrationDate").datepicker({
        //    todayHighlight: true,
        //    format: 'dd/mm/yyyy',
        //    autoclose: true,
        //})
        /////////////////////////////////////////////////////////////////////////////////////

        /////////////////////////////////// IsSingleChequeSinglePolicyOption Radio Button Change //////////////////////
        $('.IsSingleChequeSinglePolicyOption').click(function () {
            var PaymentType = $('#ddlPayment').val();
            if ($("#chequeoptiontrue").prop("checked") && (PaymentType == '@(CrossCutting_Constant.Payment_Cheque_ID)' || PaymentType == '@(CrossCutting_Constant.Payment_DD_Deposite_ID)')) {
                $(".clsbankdetail").show();
            }

            else {
                $(".clsbankdetail").hide();
                if ($("#chequeoptiontrue").prop("checked")) {
                    $("#IsOnlinePayNowTrue").prop("checked", true);
                    $("#IsOnlinePayNowTrue").prop("disabled", false);
                    $("#IsOnlinePayNowFalse").prop("disabled", false);
                }
                else {
                    $("#IsOnlinePayNowFalse").prop("checked", true);
                    $("#IsOnlinePayNowTrue").prop("disabled", true);
                    $("#IsOnlinePayNowFalse").prop("disabled", false);
                }
            }
        });
        /////////////////////////////////////////////////////////////////////////////////////////////


        /////////////////////////////////// IsChequePaymentTypeOption Radio Button Change //////////////////////
        $('.IsChequePaymentTypeOption').click(function () {
            var PaymentType = $('#ddlPayment').val();
            if ($("#IsChequePaymentTypeIntermediaryTrue").prop("checked")) {
                $(".clsbankdetail").hide();
                $(".clschequeoption").show()
                $("#chequeoptionfalse").prop("checked", true);
                $("#IsOnlinePayNowFalse").prop("disabled", false);

            }
            else {
                if (PaymentType == '@(CrossCutting_Constant.Payment_Cheque_ID)' || PaymentType == '@(CrossCutting_Constant.Payment_DD_Deposite_ID)')
                    $(".clsbankdetail").show();
                $(".clschequeoption").hide();
            }
            if ($("#IsChequePaymentTypeIntermediaryFalse").prop("checked")) {
                $('#IsOnlinePayNowTrue').prop("checked", true);
                $('#IsOnlinePayNowFalse').prop("disabled", true);
            }

        });
        /////////////////////////////////////////////////////////////////////////////////////////////

        ////////////////////////////// Payment Dropdown Change ////////////////////////////
        $("#ddlPayment").on('change', function (e) {
            var val = $(this).val();
            if (val == '@(CrossCutting_Constant.Payment_Cheque_ID)' || val == '@(CrossCutting_Constant.Payment_Online_ID)' || val == '@(CrossCutting_Constant.Payment_DD_Deposite_ID)') {
                $(".clschequetype").show();

                if ($("#IsChequeTypeAgentFalse").prop("checked")) {
                    $(".clschequeno").show();
                    $(".clschequeoption").hide();
                }
                else {
                    $(".clschequeno").hide();
                    $('.clsbankdetail').hide();
                }
                if (val == '@(CrossCutting_Constant.Payment_Online_ID)') {
                    $(".clsOnlineNowLater").show();
                    $(".clschequeno").hide();
                    $(".clsbankdetail").hide();
                }
                else {
                    //debugger;
                    $(".clsOnlineNowLater").hide();
                    if (($("#chequeoptiontrue").prop("checked") || $('#IsChequePaymentTypeIntermediaryFalse').prop('checked')) && (val == '@(CrossCutting_Constant.Payment_Cheque_ID)' || val == '@(CrossCutting_Constant.Payment_DD_Deposite_ID)')) {
                        $(".clsbankdetail").show();
                    }
                    else {
                        $(".clsbankdetail").hide();
                    }
                    //  $(".clschequeoption").show();
                    // $(".clsbankdetail").show();
                }

                if (val == '@(CrossCutting_Constant.Payment_DD_Deposite_ID)') {
                    $(".clsChequDetail").hide();
                    $(".clsDDDetail").show();
                }
                else
                    if (val == '@(CrossCutting_Constant.Payment_Cheque_ID)') {
                        $(".clsChequDetail").show();
                        $(".clsDDDetail").hide();
                    }
            }
            else if (val == '@(CrossCutting_Constant.Payment_External_ID)') {
                $(".clschequetype ").hide();
                $(".clschequeoption").hide();
                $(".clschequeno").hide();
            }
            else {
                $(".clschequetype").hide();
                $(".clschequeno").hide();
            }

            if (val == '@(CrossCutting_Constant.Payment_Cash_Deposite_ID)') {
                // $('#dvCheckPayment').hide();
                $('#dvCashDeposit').show();
            }
            else {
                // $('#dvCheckPayment').show();
                $('#dvCashDeposit').hide();
            }



        });
        ///////////////////////////////////////////////////////////////////////////////////////


        ///////////////////////////////////// IsSameAsPermanentAddress Checkbox Change //////////////////////////////////
        $('#chkIsSameAsPermanentAddress').change(function () {
            var val = $(this).is(":checked");
            if (val) {
                $("#txtCommunicationAddress").val($("#txtPermanentAddress").val());
                $("#txtCommunicationAddress2").val($("#txtPermanentAddress2").val());
                $("#txtCommunicationAddress3").val($("#txtPermanentAddress3").val());
                $("#txtCommunicationLandmark").val($("#txtPermanentLandmark").val());

                $("#ddlCommunicationState").empty().append($('#ddlPermanentState').html());
                $("#ddlCommunicationCity").empty().append($('#ddlPermanentCity').html());

                $("#ddlCommunicationState").val($('#ddlPermanentState').val());
                $("#ddlCommunicationCity").val($('#ddlPermanentCity').val());

                $(".clsCommunicationAddress").prop("disabled", true);
            }
            else {
                $(".clsCommunicationAddress").prop("disabled", false);
            }
        });
        /////////////////////////////////////////////////////////////////////////////////////////////


        ///////////////////////////////////// Permanent LOCATION DROPDOWN ///////////////////////////
        $("#ddlPermanentState").on('change', function (e) {
            var IsSameAsPermanentAddress = $('#chkIsSameAsPermanentAddress').is(":checked");
            var val = $(this).val();

            var option = '<option value="">Select</option>';
            if (val == "") {
                $("#ddlPermanentCity").empty().append(option);
                if (IsSameAsPermanentAddress) {
                    $("#ddlCommunicationCity").empty().append(option);
                }
            }
            else {
                var ajaxrequest = $.ajax({
                    url: '@Url.Action("GetCityByStateID", "Home")',
                    type: "POST",
                    datatype: "json",
                    data: { StateID: val },
                    async: false,
                    beforeSend: function () {
                        $("#LoadingImage").show();
                    }
                });
                ajaxrequest.done(function (result) {
                    if (result != null) {
                        var option = '<option value="">Select</option>';
                        for (var i = 0; i < result.length; i++) {
                            option += '<option value="' + result[i].Value + '">' + result[i].Text + '</option>';
                        }
                        $("#ddlPermanentCity").empty().append(option);

                        if (IsSameAsPermanentAddress) {
                            $("#ddlCommunicationCity").empty().append(option);
                            $("#ddlCommunicationState").val(val);
                        }
                    }
                    else {

                    }
                });
                ajaxrequest.fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                });
            }
        });

        $("#ddlPermanentCity").on('change', function (e) {
            var IsSameAsPermanentAddress = $('#chkIsSameAsPermanentAddress').is(":checked");
            var val = $(this).val();
            if (val == "") {
                if (IsSameAsPermanentAddress) {
                    $("#ddlCommunicationCity").val("");
                }
            }
            else {
                if (IsSameAsPermanentAddress) {
                    $("#ddlCommunicationCity").html($("#ddlPermanentCity").html());
                    $("#ddlCommunicationCity").val(val);
                }
            }
        });

        //////////////////////////////////////////////////////////////////////////////////////////////



        ///////////////////////////////////// COMMUNICATION LOCATION DROPDOWN ///////////////////////////
        $("#ddlCommunicationState").on('change', function (e) {
            var IsSameAsPermanentAddress = $('#chkIsSameAsPermanentAddress').is(":checked");
            var val = $(this).val();
            var option = '<option value="">Select</option>';
            if (val == "") {
                $("#ddlCommunicationCity").empty().append(option);
            }
            else {
                var ajaxrequest = $.ajax({
                    url: '@Url.Action("GetCityByStateID", "Home")',
                    type: "POST",
                    datatype: "json",
                    data: { StateID: val },
                    async: false,
                    beforeSend: function () {
                        $("#LoadingImage").show();
                    }
                });
                ajaxrequest.done(function (result) {
                    if (result != null) {
                        var option = '<option value="">Select</option>';
                        for (var i = 0; i < result.length; i++) {
                            option += '<option value="' + result[i].Value + '">' + result[i].Text + '</option>';
                        }
                        $("#ddlCommunicationCity").empty().append(option);
                    }
                    else {

                    }
                });
                ajaxrequest.fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                });
            }
        });
        //////////////////////////////////////////////////////////////////////////////////////////////



        ////////////////////////////// Product Dropdown Change ////////////////////////////
        $("#ddlProduct").on('change', function (e) {
            $("#txtSegment").val('');
            var val = $(this).val();
            var option = '<option value="">Select</option>';
            if (val == "") {
                $("#ddlPlan").empty().append(option);
                $("#ddlMake").empty().append(option);
                $("#ddlModel").empty().append(option);
                $("#txtPlanAmount").val("");
                $("#txtGSTAmount").val("");
                $("#txtTotalPlanAmount").val("");
            }
            else {
                var ajaxrequest = $.ajax({
                    url: '@Url.Action("GetMakeByProductIDForUser", "Home")',
                    type: "POST",
                    datatype: "json",
                    data: { ProductID: val },
                    async: false,
                    beforeSend: function () {
                        $("#LoadingImage").show();
                    }
                });
                ajaxrequest.done(function (result) {
                    if (result != null) {

                        $("#ddlModel").empty().append('<option value="">Select</option>');
                        $("#txtPlanAmount").val("");
                        $("#txtGSTAmount").val("");
                        $("#txtTotalPlanAmount").val("");

                        var optionSelect = '<option value="">Select</option>';
                        var option = "";
                        if (result.makelist != null) {
                            option = "";
                            $("#ddlMake").empty().append(optionSelect);
                            for (var i = 0; i < result.makelist.length; i++) {
                                option += '<option value="' + result.makelist[i].Value + '">' + result.makelist[i].Text + '</option>';
                            }
                            $("#ddlMake").append(option);
                        }

                        if (result.planlist != null) {
                            option = "";
                            $("#ddlPlan").empty().append(optionSelect);
                            for (var i = 0; i < result.planlist.length; i++) {
                                option += '<option value="' + result.planlist[i].Value + '">' + result.planlist[i].Text + '</option>';
                            }
                            $("#ddlPlan").append(option);
                        }
                    }
                    else {

                    }
                });
                ajaxrequest.fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                });
            }
        });
        ///////////////////////////////////////////////////////////////////////////////////////


        ////////////////////////////// Make Dropdown Change ////////////////////////////
        $("#ddlMake").on('change', function (e) {
            var val = $(this).val();
            var option = '<option value="">Select</option>';
            $("#txtSegment").val('');
            if (val == "") {
                $("#ddlModel").empty().append(option);
            }
            else {
                var ajaxrequest = $.ajax({
                    url: '@Url.Action("GetModelByMakeIDForUser", "Home")',
                    type: "POST",
                    datatype: "json",
                    data: { MakeID: val },
                    async: false,
                    beforeSend: function () {
                        $("#LoadingImage").show();
                    }
                });
                ajaxrequest.done(function (result) {
                    if (result != null) {
                        var optionSelect = '<option value="">Select</option>';
                        var option = "";
                        if (result.modellist != null) {
                            option = "";
                            $("#ddlModel").empty().append('<option value="">Select</option>');
                            for (var i = 0; i < result.modellist.length; i++) {
                                option += '<option value="' + result.modellist[i].Value + '">' + result.modellist[i].Text + '</option>';
                            }
                            $("#ddlModel").append(option);
                        }
                    }
                    else {

                    }
                });
                ajaxrequest.fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                });
            }
        });
        ///////////////////////////////////////////////////////////////////////////////////////


        ////////////////////////////// Model Dropdown Change ////////////////////////////
        $("#ddlModel").on('change', function (e) {
            $("#txtSegment").val('');
            var val = $(this).val();
            if (val == "") {

            }
            else {
                var ajaxrequest = $.ajax({
                    url: '@Url.Action("GetSegmentByModel", "Home")',
                    type: "POST",
                    datatype: "json",
                    data: { ModelID: val },
                    async: false,
                    beforeSend: function () {
                        $("#LoadingImage").show();
                    }
                });
                ajaxrequest.done(function (result) {
                    if (result != null) {

                        if (result.Segment != null) {
                            $("#txtSegment").val(result.Segment);
                        }
                    }
                });
                ajaxrequest.fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                });
            }
        });
        ///////////////////////////////////////////////////////////////////////////////////////


        ////////////////////////////// Plan Dropdown Change ////////////////////////////
        $("#ddlPlan").on('change', function (e) {

            var SilverPlansID = @Html.Raw(Json.Encode(ViewData["SilverPlansID"]));
            var GoldPlansID = @Html.Raw(Json.Encode(ViewData["GoldPlansID"]));
            var PlatinumPlansID = @Html.Raw(Json.Encode(ViewData["PlatinumPlansID"]));
            var PalladiumPlansID = @Html.Raw(Json.Encode(ViewData["PalladiumPlansID"]));

            var valNum = $(this).val();
            var val = Number(valNum);
            if (valNum == "") {
                $("#txtPlanAmount").val("");
            }
            else {

                if (SilverPlansID.includes(val)) {

                    $("#ddlPrimaryCover").val(0);
                    $("#ddlSecondaryCover").val(0);
                      $("#ddlLossofpay").val(0);
                }
                else if (GoldPlansID.includes(val)) {

                    $("#ddlPrimaryCover").val(1);
                    $("#ddlSecondaryCover").val(0);
                      $("#ddlLossofpay").val(0);
                }
                else if (PlatinumPlansID.includes(val)) {

                    $("#ddlPrimaryCover").val(1);
                    $("#ddlSecondaryCover").val(1);
                      $("#ddlLossofpay").val(0);
                }
                else if (PalladiumPlansID.includes(val)) {

                    $("#ddlPrimaryCover").val(1);
                    $("#ddlSecondaryCover").val(1);
                    $("#ddlLossofpay").val(1);
                }               

                var ajaxrequest = $.ajax({
                    url: '@Url.Action("GetPlanAmountByPlanID", "Home")',
                    type: "POST",
                    datatype: "json",
                    data: { PlanID: val },
                    async: false,
                    beforeSend: function () {
                        $("#LoadingImage").show();
                    }
                });
                ajaxrequest.done(function (result) {
                    if (result.message == '@CrossCutting_Constant.Success') {
                        $("#txtPlanAmount").val(result.Amount);
                        $("#txtGSTAmount").val(result.GST);
                        $("#txtTotalPlanAmount").val(result.Total);
                        $('#hdnYearValidity').val(result.Year);
                        setCoverEndDate(result.Year);

                    }
                    else {
                        $("#txtPlanAmount").val("");
                        $("#txtGSTAmount").val("");
                        $("#txtTotalPlanAmount").val("");
                    }


                });
                ajaxrequest.fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                });
            }
        });
        ///////////////////////////////////////////////////////////////////////////////////////


        ///////////////////////////////////// Submit /////////////////////////////////////////
        $("#btnSaveTransaction").click(function () {

            var valid = $("#TransactionForm").validationEngine('validate');
            if (valid) {
                var chequeValidationMessage = ChequeValidation();
                var payOption = ($('#ddlPayment').val() == '0')

                if (payOption == 0 || payOption == '0') {
                    if (chequeValidationMessage == "") {

                        $.ajax({
                            url: '@Url.Action("SaveIssueCovidIndemnityCertificate", "Home")',
                            data: $('#TransactionForm').serialize(),
                            datatype: 'json',
                            type: "POST",
                            beforeSend: function () {
                                $("#LoadingImage").show();
                            },
                            success: function (result) {

                                if (result.lblerrmsg != "Insured DOB Is Mandatory Field") {

                                    if (result.lblerrmsg != "Insured DOB is Not Eligible for this Policy") {

                                        if (result.lblerrmsg != "Nominee DOB is Not Eligible for this Policy") {

                                            if (result.lblerrmsg != "Proposer DOB is Not Eligible for this Policy") {

                                                if (result.status == '@CrossCutting_Constant.Success') {
                                                    var path = "";
                                                    var message = "";

                                                    var paymentreftag = "";

                                                    if (result.paymentrefno != null && result.paymentrefno != "") {
                                                        paymentreftag = "Payment Reference Number : <strong>" + result.paymentrefno + "</strong><br/>";
                                                    }

                                                    if (result.path != null && result.path != "") {
                                                        path = result.path.replace("\\", "/");
                                                        path = path.replace("~", "../..");
                                                    }

                                                    if (path != "") {
                                                        var anchor = "<a href='" + path + "' target='_blank'>Click Here</a>";
                                                        message = "Certificate Issued Successfully. <br/> Certification Number : <strong>" + result.certificateno + "</strong><br/>" + paymentreftag + " Download OR Print Certificate : " + anchor;
                                                    }
                                                    else {
                                                        //message = "Certificate Issued Successfully. <br/> Certification Number : <strong>" + result.certificateno + "</strong><br/>" + paymentreftag + " Certificate Not Generated Yet. To Download Certificate, Go To Download Menu..";
                                                    
														message = "Certificate Issued Successfully. <br/> Certification Number : <strong>" + result.certificateno + "</strong><br/>" + paymentreftag + " Please Make The Payment To Download Certificate";
													}

                                                    if (result.IsPayNow) {
                                                        if (result.vPayResponse.Flag) {
                                                            window.location.href = result.vPayResponse.vPayTransactionURL;
                                                        }
                                                        else {
                                                            message = message + "<br/> " + result.vPayResponse.Response;
                                                            message = message + "<br/> Sorry!..Unable to process the payment request."
                                                        }
                                                    }
                                                    else {

                                                        BootstrapDialog.show({
                                                            type: BootstrapDialog.TYPE_SUCCESS,
                                                            draggable: true,
                                                            closable: false,
                                                            title: "Success",
                                                            message: message,
                                                            buttons: [{
                                                                label: 'OK',
                                                                action: function (dialog) {
                                                                    window.location.href = "../../Home/IssueCovidIndemnityCertificate";
                                                                    dialog.close();
                                                                }
                                                            }]
                                                        });
                                                    }
                                                }
                                                else {
                                                    AlertMessage("//Please Try Again", "5000", "fail");
                                                }
                                            }
                                            else {
                                                AlertMessage("//Proposer DOB is Not Eligible for this Policy", "5000", "fail");
                                            }
                                        }
                                        else {
                                            AlertMessage("//Nominee DOB is Not Eligible for this Policy", "5000", "fail");
                                        }
                                    }
                                    else {
                                        AlertMessage("//Insured DOB is Not Eligible for this Policy", "5000", "fail");
                                    }
                                }
                                else {
                                    AlertMessage("//Insured DOB Is Mandatory Field", "5000", "fail");
                                }
                            }
                        });
                    }

                    else {

                        AlertMessage("//" + chequeValidationMessage, "5000", "fail");
                    }
                }
                else {
                    AlertMessage("// Please select Payment option", "5000", "fail");
                }


            }
            else {
                $("#TransactionForm").validationEngine('validate');
            }
        });

        //////////////////////////////////////////////////////////////////////////////////////

    });


    function ChequeValidation() {
        var message = "";

        var totalBalanceAmountValue = $("#txtTotalBalanceAmount").val();
        var planAmountValue = $("#txtTotalPlanAmount").val();
        var totalBalanceAmount = 0;
        var planAmount = 0;

        if (totalBalanceAmountValue != null && totalBalanceAmountValue != "") {
            totalBalanceAmount = parseFloat(totalBalanceAmountValue);
        }

        if (planAmountValue != null && planAmountValue != "") {
            planAmount = parseFloat(planAmountValue);
        }
        var payment = $("#ddlPayment").val();




        var isSingleChequeMultiplePolicy = false;
        var isPaymentTypeIntermidiary = $("#IsChequePaymentTypeIntermediaryTrue").prop("checked");
        if (isPaymentTypeIntermidiary) {
            isSingleChequeMultiplePolicy = $("#chequeoptionfalse").prop("checked");
        }
        if (payment != '@(CrossCutting_Constant.Payment_External_ID)') {
            if (planAmount > totalBalanceAmount && isPaymentTypeIntermidiary) {
                message = "Balance amount is not sufficient."
            }
        }



        if (payment == '@(CrossCutting_Constant.Payment_Cheque_ID)') {
            if (isSingleChequeMultiplePolicy == false) {
                var certificateStartDate = $("#txtCoverStartDate").val();
                var chequeDate = $("#txtChequeDate").val();
                var chequeAmountValue = $("#txtChequeAmount").val();

                var chequeAmount = 0;

                if (chequeAmountValue != null && chequeAmountValue != "") {
                    chequeAmount = parseFloat(chequeAmountValue);
                }


                if (Date.parse(DDMMYYYY_TO_MMDDYYYY(chequeDate)) > Date.parse(DDMMYYYY_TO_MMDDYYYY(certificateStartDate))) {
                    if (message == "") {
                        message = "Cheque Date should be less or equal to Certificate Start Date.";
                    }
                    else {
                        message = message + "<br/> Cheque Date should be less or equal to Certificate Start Date.";
                    }
                }

                if (chequeAmount < planAmount) {
                    if (message == "") {
                        message = "Cheque Amount can not be less than \"Total Plan Amount\".";
                    }
                    else {
                        message = message + "<br/> Cheque Amount can not be less than \"Total Plan Amount\".";
                    }
                }

            }
        }

        var TotalCDBalance = $('#Total_CD_Balance').val();
        var isSingleMultiplePolicy = $("#chequeoptionfalse").prop("checked");
        if ((payment == '@CrossCutting_Constant.Payment_Cash_Deposite_ID' && planAmount > TotalCDBalance) && !isSingleMultiplePolicy) {
            message = "Cash Deposit balance amount is not sufficient."
        }



        return message;
    }


    function DDMMYYYY_TO_MMDDYYYY(DDMMYYYY) {
        var splitDate = DDMMYYYY.split('/');
        var MMDDYYYY = splitDate[1] + "/" + splitDate[0] + "/" + splitDate[2];
        return MMDDYYYY;
    }

    ///////////////////////////////////// ddlPreExDisease Change /////////////////////////////////////////
    $("#ddlPreExDisease").on('change', function (e) {

        $("#txtDiseaseName").val("");

        var val = $(this).val();
        var ddlPreExDisease = document.getElementById("dvDiseaseName");
        if (val == "1") {
            ddlPreExDisease.style.display = "block";
        }
        else {
            ddlPreExDisease.style.display = "none";
        }
    });
    //////////////////////////////////////////////////////////////////////////////////////


    ////////////////////////////// SumInsured Dropdown Change ////////////////////////////
    $("#ddlSumInsured").on('change', function (e) {

        var SID = $('#hdn_StateID').val();
        var CID = $('#hdn_CityID').val();

        if (SID != "" && CID != "") {

            var PrimOption = 'Quarantine Cover';
            var SecOption = 'Travel Excl Cover';

            $("#ddlPrimaryCover").val(PrimOption);
            $("#ddlSecondaryCover").val(SecOption);

            var PId = 12;
            var val = $(this).val();

            var option = '<option value="">Select</option>';
            if (val == "") {
                $("#ddlPlan").empty().append(option);
                $("#txtPlanAmount").val("");
                $("#txtGSTAmount").val("");
                $("#txtTotalPlanAmount").val("");
            }
            else {
                var ajaxrequest = $.ajax({

                    url: '@Url.Action("GetCIPlanByProductIDAndSumInsIDForUser", "Home")',
                    type: "POST",
                    datatype: "json",
                    data: { ProductID: PId, SumInsID: val, StateID: SID, CityID: CID },
                    async: false,
                    beforeSend: function () {
                        $("#LoadingImage").show();
                    }
                });
                ajaxrequest.done(function (result) {
                    if (result != null) {

                        $("#txtPlanAmount").val("");
                        $("#txtGSTAmount").val("");
                        $("#txtTotalPlanAmount").val("");

                        var optionSelect = '<option value="">Select</option>';
                        var option = "";
                        if (result.planlist != null) {
                            option = "";
                            $("#ddlPlan").empty().append(optionSelect);
                            for (var i = 0; i < result.planlist.length; i++) {
                                option += '<option value="' + result.planlist[i].Value + '">' + result.planlist[i].Text + '</option>';
                            }
                            $("#ddlPlan").append(option);
                        }
                    }
                    else {

                    }
                });
                ajaxrequest.fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                });
            }
        }
        else {

            AlertMessage("// Please Select First State and City", "5000", "fail");
        }
     });
    ///////////////////////////////////////////////////////////////////////////////////////

        $("#txtInsureDOB").datepicker({
            todayHighlight: true,
            format: 'dd/mm/yyyy',
            autoclose: true,
        }).change(function () {
            $('.txtChequeDateformError').hide();
        });


        $("#txtProposerDOB").datepicker({
            todayHighlight: true,
            format: 'dd/mm/yyyy',
            autoclose: true,
        }).change(function () {
            $('.txtChequeDateformError').hide();
        });


        $("#txtNomineeDOB").datepicker({
            todayHighlight: true,
            format: 'dd/mm/yyyy',
            autoclose: true,
        }).change(function () {
            $('.txtChequeDateformError').hide();
        });

    ////////////////////////////// txtInsureDOB Text Change ////////////////////////////
    $("#txtInsureDOB").on('change', function (e) {       

        var val = $(this).val();  
        if (val == "") {

            AlertMessage("//Oops Something Went Wrong, Please Select Insured DOB Again..", "5000", "fail");
        }
        else {

            var ajaxrequest = $.ajax({

                url: '@Url.Action("ValidationForInsuredAgeBelow18Years", "Home")',
                type: "POST",
                datatype: "json",
                data: { InsDOB: val },
                async: false,
                beforeSend: function () {
                    $("#LoadingImage").show();
                }
            });
            ajaxrequest.done(function (result) {

                if (result.status == '@CrossCutting_Constant.Success') {

                    if (result != null) {

                        if (result.isinsuredbelow18years != null) {

                            if (result.isinsuredbelow18years == true) {

                                $("#txtProposerName").addClass("validate[required]");
                                $("#ddlProposerGender").addClass("validate[required]");
                                $("#txtProposerDOB").addClass("validate[required]");
                                $("#ddlProposerRelationship").addClass("validate[required]");
                            }
                            else {

                                $("#txtProposerName").removeClass("validate[required]");
                                $("#ddlProposerGender").removeClass("validate[required]");
                                $("#txtProposerDOB").removeClass("validate[required]");
                                $("#ddlProposerRelationship").removeClass("validate[required]");
                            }
                        }
                        else {

                            AlertMessage("//Oops Something Went Wrong, Please Select Insured DOB Again..", "5000", "fail");
                        }
                    }
                    else {

                        AlertMessage("//Oops Something Went Wrong, Please Select Insured DOB Again..", "5000", "fail");
                    }
                }
                else {

                    AlertMessage("//Oops Something Went Wrong, Please Select Insured DOB Again..", "5000", "fail");
                }                
            });
            ajaxrequest.fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            });
        }
     });
    ///////////////////////////////////////////////////////////////////////////////////////

</script>



