﻿@{
    ViewBag.Title = "Premium Details";
}

<h2 class="main-title text-center" style="color:#716f6f !important">Premium Details</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        <p class="active-class" style="color:#fff"><strong>Premium Details</strong></p>
    </div>
    <div class="width-0 panel-body" style="background-color: #fff">
        <div style="margin:5px 5px 3px 49px">
            <div class="col-md-4">
                <label><span>&nbsp;</span></label>
                <div class="form-group">
                    <div>
                        <label>Date From</label>
                    </div>
                    <input type="text" class="form-control removeBackgroundcolor" id="txtCertificateIssueDateFrom" />
                </div>
            </div>
            <div class="col-md-4">
                <label><span>&nbsp;</span></label>
                <div class="form-group">
                    <div>
                        <label>Date To</label>
                    </div>
                    <input type="text" class="form-control removeBackgroundcolor" id="txtCertificateIssueDateTo" />
                </div>
            </div> 
            <div class="col-md-4">
                <label><span>&nbsp;</span></label>
                <div class="form-group">
                    <div>
                        <label>Total Premium</label>
                    </div>
                    <input type="text" class="form-control" id="txtTotalPremium" value="@ViewBag.TotalPremium" readonly>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-sm-12">
            <div class="col-lg-4 col-sm-4"></div>
            <div class="col-lg-12 col-sm-6 form-group text-center">
                <input type="button" value="Search" id="btnSearch" style="margin:05% 3% 05% 0%" ; class="btn btn-primary" />
                <input type="button" value="Refresh" id="btnRefresh" ; class="btn" />
            </div>
        </div>
    </div>

    <div id="PolicyPremiumGrid"></div>
</div>

<script>

    $('#btnRefresh').click(function () {

        window.location.reload();
    });

    $(document).ready(function () {

        ///////////////////////////////////// Submit /////////////////////////////////////////
        $("#btnSearch").click(function () {

            var CertificateIssueDateFrom = $("#txtCertificateIssueDateFrom").val();
            var CertificateIssueDateTo = $("#txtCertificateIssueDateTo").val();

            if ((CertificateIssueDateFrom == "" || CertificateIssueDateFrom == null) &&
                (CertificateIssueDateTo == "" || CertificateIssueDateTo == null)) {

                AlertMessage("//Please Enter Atleast One Search Criteria.", "5000", "fail");
                return false;
            }

            $.ajax({
                url: '@Url.Action("SearchPolicyPremiumDetailsGrid", "Home")',
                data: { CertificateIssueDateFrom: CertificateIssueDateFrom, CertificateIssueDateTo: CertificateIssueDateTo },
                datatype: 'json',
                type: "POST",
                beforeSend: function () {
                    $("#LoadingImage").show();
                },
                success: function (result) {

                    if (result.status == '@CrossCutting_Constant.Success') {

                        $('#txtTotalPremium').val(result.premiumamount);
                        $('#PolicyPremiumGrid').empty().append(result.Html);
                    }
                    else {

                        $('#txtTotalPremium').val('0');
                        AlertMessage("//Please Try Again", "5000", "fail");
                    }
                }
            });
        });
        //////////////////////////////////////////////////////////////////////////////////////

    });

    $("#txtCertificateIssueDateFrom,#txtCertificateIssueDateTo").each(function () {
        $(this).keypress(function (event) { event.preventDefault(); });
        $(this).bind("paste", function (e) {
            e.preventDefault();
        });
    });


    $("#txtCertificateIssueDateFrom").datepicker({
        todayHighlight: true,
        format: 'dd/mm/yyyy',
        autoclose: true,

    })

    $("#txtCertificateIssueDateTo").datepicker({
        todayHighlight: true,
        format: 'dd/mm/yyyy',
        autoclose: true,
    })

</script>

