﻿@{
}
<h3>@ViewBag.Message</h3>


@if (ViewBag.Status == "Success")
{
<div class="alert alert-success">
    <strong>Success!</strong> Uploaded Successfully.    <strong>@Html.ActionLink("Go Back", "UploadExcel", "Home")</strong>
</div>
}


@if (ViewBag.Status == "Failure")
{
<div class="alert alert-danger">
    <strong>Failure!</strong> Upload Failed.   <strong>@Html.ActionLink("Go Back", "UploadExcel", "Home")</strong>
</div>
}
