﻿
@{
    ViewBag.Title = "Broker Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .navbar-inverse {
        visibility: hidden;
    }
</style>

<hgroup>
    <h2 class="text-danger">@Html.Raw(ViewBag.ResponseMessage)</h2>
</hgroup>
