   <style>
        /*.form-group {
            position: relative;
        }*/

        /*.palceholder {
            position: absolute;
            top: 10px;
            left: 03px;
            color: #B1B1B1;
        }*/

        /*.pp {
            position: absolute;
            top: -25px;
            left: 03px;
            color: #B1B1B1;
        }*/

        /*.form-control {
            border: none !important;
            border-bottom: 1px solid #000 !important;
            box-shadow: none;
            border-radius: 0;
        }*/


    .panel-heading {
        background-image: linear-gradient(to bottom, #00529C 0%, #e8e8e8 100%);
        /*background-image: linear-gradient(to bottom, #0092D0 0%, #e8e8e8 100%);*/
        padding: 3px 99px;
        color: #fff;
        font-size: 16px;
    }


    </style>