﻿@*Certificate generate option from external*@


@model GlobalAssure.Models.TransactionModel

@{

    Layout = "~/Views/Shared/_LayoutPolicyBazaar.cshtml";
    ViewBag.Title = "Issue Certificate";
}

<link href="~/Content/selectwithsearch.css" rel="stylesheet" />
<script src="~/Scripts/selectwithsearch.js"></script>




<style>
    .select2-container .select2-selection--single {
        height: 34px !important;
    }
</style>

@using (Html.BeginForm("", "", FormMethod.Post, new { Id = "TransactionForm" }))
{
    if (@ViewData.ModelState.IsValid)
    {
        <h2 class="main-title text-center" style="color:#716f6f !important">Issue Certificate</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="active-class" style="color:white"><img src="~/Image/Site/Forma 1.png" />&nbsp;&nbsp; Product And Plan Details</p>
            </div>
            <div class="width-100 panel-body" style="background-color: #fff">
                <div style="margin:5px 5px 3px 49px">
                    <div class="row no-padding">
                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Product</label>
                                    <span class="mandatory">*</span>
                                </div>

                                @Html.DropDownListFor(x => x.ProductID, new SelectList(Model.ProductListItem, "Key", "Value"), "Product Name", new { @class = "form-control validate[required]", @id = "ddlProduct" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Vehicle Type</label>
                                    <span class="mandatory">*</span>
                                </div>

                                @Html.DropDownListFor(x => x.TransactionTypeID, new SelectList(Model.TransactionTypeListItem, "Key", "Value"), "Vehicle Type", new { @class = "form-control validate[required]", @id = "ddlTransactionType" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Make</label>
                                    <span class="mandatory">*</span>
                                </div>
                                @Html.DropDownListFor(x => x.MakeID, new SelectList(Model.MakeListItem, "Key", "Value"), "Make", new { @class = "form-control validate[required]", @id = "ddlMake" })
                            </div>
                        </div>





                    </div>
                    <div class="row no-padding">

                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Model - Variant</label>
                                    <span class="mandatory">*</span>
                                </div>
                                @Html.DropDownListFor(x => x.ModelID, new SelectList(Model.ModelListItem, "Key", "Value"), "Model - Variant", new { @class = "form-control validate[required]", @id = "ddlModel" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Segment</label>

                                </div>
                                @Html.TextBoxFor(a => a.Segment, new { @class = "form-control", @readonly = "readonly", @id = "txtSegment" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Plan</label>
                                    <span class="mandatory">*</span>
                                </div>
                                @Html.DropDownListFor(x => x.PlanID, new SelectList(Model.PlanListItem, "Key", "Value"), "Plan", new { @class = "form-control validate[required]", @id = "ddlPlan" })
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="active-class" style="color:white"><img src="~/Image/Site/Forma 1-1.png" />&nbsp;&nbsp; Vehicle Details</p>
            </div>
            <div class="width-100 panel-body" style="background-color: #fff">
                <div style="margin:5px 5px 3px 49px">
                    <div class="row no-padding">
                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Plan Amount</label>
                                </div>
                                <input type="text" class="form-control" id="txtPlanAmount" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>GST Amount</label>
                                </div>
                                <input name="" type="text" class="form-control" id="txtGSTAmount" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Total Plan Amount</label>
                                </div>
                                <input type="text" class="form-control" id="txtTotalPlanAmount" readonly />
                            </div>
                        </div>



                    </div>
                    <div class="row no-padding">

                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Certificate Start Date</label>

                                </div>

                                @Html.TextBoxFor(a => a.CoverStartDate, "{0:dd/MM/yyyy}", new { @class = "form-control removeBackgroundcolor", @id = "txtCoverStartDate", @readonly = "readonly" })

                            </div>
                        </div>
                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Certificate End Date</label>

                                </div>
                                @Html.TextBoxFor(a => a.CoverEndDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @id = "txtCoverEndDate", @readonly = "readonly" })

                            </div>
                        </div>

                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Certificate Issue Date</label>

                                </div>
                                @Html.HiddenFor(h => h.IssueByID)
                                <input type="text" value='@(DateTime.Now.ToString("dd/MM/yyyy"))' class="form-control" id="txtissuedate" readonly />

                            </div>
                        </div>

                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Registration No</label>
                                </div>
                                @Html.TextBoxFor(x => x.RegistrationNo, new { @class = "form-control  validate[minSize[5],maxSize[50]]  validate[custom[AlphaNumeric] validate[custom[sumIsZero]", @id = "txtRegistrationNo", @maxlength = 50 })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Engine No</label>
                                    <span class="mandatory">*</span>
                                </div>
                                @Html.TextBoxFor(x => x.EngineNo, new { @class = "form-control validate[required] validate[custom[AlphaNumeric] validate[custom[sumIsZero],minSize[5],validate[maxSize[20]] ", @maxlength = 20, @pattern = "[0-9]{2}", @id = "txtEngineNo" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Chassis No</label>
                                    <span class="mandatory">*</span>
                                </div>
                                @Html.TextBoxFor(x => x.ChassisNo, new { @class = "form-control validate[required] validate[custom[AlphaNumeric] validate[custom[sumIsZero], validate[maxSize[20],minSize[5]]", @maxlength = 20, @id = "txtChassisNo" })
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="active-class" style="color:white"><img src="~/Image/Site/Forma 1-3.png" />&nbsp;&nbsp; Custormer Details</p>
            </div>
            <div class="width-100 panel-body" style="background-color: #fff">
                <div style="margin:5px 5px 3px 49px">
                    <div class="row no-padding">
                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>First Name</label>
                                    <span class="mandatory">*</span>
                                </div>
                                @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control validate[required]  validate[custom[name]]", @maxlength = 25, @id = "txtCustomerName" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Last Name</label>
                                    <span class="mandatory">*</span>
                                </div>
                                @Html.TextBoxFor(x => x.CustomerLastName, new { @class = "form-control validate[required] validate[custom[name]]", @maxlength = 25, @id = "txtCustomerLastName" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Email ID</label>
                                    <span class="mandatory">*</span>
                                </div>
                                @Html.TextBoxFor(x => x.CustomerEmail, new { @class = "form-control validate[required] validate[custom[email]] maxSize[50]", @maxlength = 50, @id = "txtCustomerEmail" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Mobile No</label>
                                    <span class="mandatory">*</span>
                                </div>
                                @Html.TextBoxFor(x => x.CustomerContact, new { @class = "form-control allow_only_numbers validate[required] validate[custom[integer],maxSize[10],minSize[10],custom[sumIsZero]] ", @maxlength = 10, @id = "txtCustomerContact" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="active-class" style="color:white"><img src="~/Image/Site/Forma 1-2.png" />&nbsp;&nbsp; Permanent Address</p>
            </div>

            <div class="width-100 panel-body" style="background-color: #fff">
                <div style="margin:5px 5px 3px 49px">
                    <div class="row no-padding">
                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>State</label>
                                    <span class="mandatory">*</span>
                                </div>
                                @Html.DropDownListFor(x => x.PermanentStateID, new SelectList(Model.PermanentStateListItem, "Key", "Value"), "State", new { @class = "form-control validate[required]", @id = "ddlPermanentState" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>City</label>
                                    <span class="mandatory">*</span>
                                </div>
                                @Html.DropDownListFor(x => x.PermanentCityID, new SelectList(Model.PermanentCityListItem, "Key", "Value"), "City", new { @class = "form-control validate[required]", @id = "ddlPermanentCity" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Address1</label>
                                </div>
                                @Html.TextAreaFor(x => x.PermanentAddress, new { @class = "form-control ", @maxlength = 100, @id = "txtPermanentAddress" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Address2</label>
                                </div>
                                @Html.TextAreaFor(x => x.PermanentAddress2, new { @class = "form-control", @maxlength = 100, @id = "txtPermanentAddress2" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label><span>&nbsp;</span></label>
                            <div class="form-group">
                                <div>
                                    <label>Address3</label>
                                </div>
                                @Html.TextAreaFor(x => x.PermanentAddress3, new { @class = "form-control", @maxlength = 100, @id = "txtPermanentAddress3" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @*<div class="panel panel-default">
                <div class="panel-heading" id="claimIntimationAccordionOne">
                    <p class="active-class" style="color:white"><img src="~/Image/Site/A.png" />&nbsp;&nbsp;Payment Details</p>
                </div>
                <div class="width-100 panel-body" style="background-color: #fff">
                    <div style="margin:5px 5px 3px 44px">
                        <div>
                            <div class="panel-body">
                                <div class="col-md-12" style="padding-bottom:15px;">
                                    <div class="form-group">
                                        <div>

                                            <label>Payment</label>
                                            <span class="mandatory">*</span>
                                        </div>
                                        @Html.DropDownListFor(x => x.PaymentID, new SelectList(Model.PaymentListItem, "Key", "Value"), new { @class = "form-control validate[required]", @id = "ddlPayment" })

                                    </div>



                                </div>

                                <div class="col-md-12">

                                    <div class="form-group" id="dvCheckPayment">
                                        @Html.HiddenFor(h => h.PaymentID, new { @id = "ddlPayment" })

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        @Html.Hidden("hdnYearValidity", "0")
        @Html.HiddenFor(x => x.Total_CD_Balance, new { @id = "Total_CD_Balance" })

        <div class="col-lg-12">
            <div class="col-lg-12 col-sm-12 form-group text-center ">
                <input type="button" value="Submit" id="btnSaveTransaction" class="btn btn-primary" />
            </div>
        </div>
    }
}



<script>

    var Is_Pay_Now = false;



    function setCoverEndDate(year) {
        var yearValidity = 0;
        yearValidity = Number(year);
        var date = $('#txtCoverStartDate').val();
        date = Date.parse(DDMMYYYY_TO_MMDDYYYY(date))
        var currDate = new Date(date);
        currDate.setDate((currDate.getDate() + (365 * yearValidity)) - 1);
        var day = currDate.getDate();
        var mont = currDate.getMonth() + 1;
        var year = currDate.getFullYear();
        if (day < 10) day = "0" + day;
        if (mont < 10) mont = "0" + mont;
        var newDate = day + "/" + mont + "/" + year;

        $('#txtCoverEndDate').val(newDate);
    }

    $("#ddlBank").select2();

    // location.reload(true);
    jQuery("#TransactionForm").validationEngine();
    $(document).ready(function () {


        $('#ddlPayment').val('0');

        $(".clsOnlineNowLater").hide();

        $("#ddlProduct").each(function () {
            $('option', this).each(function () {
                if ($(this).text().toLowerCase() == "pc") {
                    $(this).text("Private Car");
                }
                else if ($(this).text().toLowerCase() == "tw") {
                    $(this).text("Two Wheeler");
                }
                else if ($(this).text().toLowerCase() == "cv") {
                    $(this).text("Commercial Vehicle");
                }
                else if ($(this).text().toLowerCase() == "th") {
                    $(this).text("Three Wheeler");
                }
            });
        });


        $(".spnRegistrationNo").hide();

        $(".clsbankdetail").hide();

        if ($("#IsChequePaymentTypeIntermediaryFalse").prop("checked")) {
            var PaymentType = $('#ddlPayment').val();
            //if (PaymentType == '@(CrossCutting_Constant.Payment_Cheque_ID)')
            $(".clschequeoption").show();
            if (PaymentType == '@(CrossCutting_Constant.Payment_Online_ID)') {
                $('#IsOnlinePayNowTrue').prop("checked", true);
                $('#IsOnlinePayNowFalse').prop("Disabled", true);
            }
        }





        /////////////////////////////////// DatePicker ///////////////////////////////////////
        $("#txtCoverStartDate").datepicker({
            todayHighlight: true,
            format: 'dd/mm/yyyy',
            autoclose: true,
            startDate: new Date()
        }).on('changeDate', function (selected) {
            startDate = new Date(selected.date.valueOf());

            //var day = startDate.getDate();
            //var mont = startDate.getMonth() + 1;
            //var year = startDate.getFullYear() + 1;
            //if (day < 10) day = "0" + day;
            //if (mont < 10) mont = "0" + mont;
            //var newDate = day + "/" + mont + "/" + year;
            var YearValidity = $('#hdnYearValidity').val();
            if (YearValidity != "0") {
                var year = 0;
                year = Number(YearValidity);
                startDate.setDate((startDate.getDate() + (365 * year)) - 1);
                var day = startDate.getDate();
                var mont = startDate.getMonth() + 1;
                var year = startDate.getFullYear();
                if (day < 10) day = "0" + day;
                if (mont < 10) mont = "0" + mont;
                var newDate = day + "/" + mont + "/" + year;
                $('#txtCoverEndDate').val(newDate);
            }

        });


        $("#txtChequeDate").datepicker({
            todayHighlight: true,
            format: 'dd/mm/yyyy',
            autoclose: true,
        }).change(function () {
            $('.txtChequeDateformError').hide();
        });

        //$("#txtRegistrationDate").datepicker({
        //    todayHighlight: true,
        //    format: 'dd/mm/yyyy',
        //    autoclose: true,
        //})
        /////////////////////////////////////////////////////////////////////////////////////








        ///////////////////////////////////// Permanent LOCATION DROPDOWN ///////////////////////////
        $("#ddlPermanentState").on('change', function (e) {
            var IsSameAsPermanentAddress = $('#chkIsSameAsPermanentAddress').is(":checked");
            var val = $(this).val();

            var option = '<option value="">Select</option>';
            if (val == "") {
                $("#ddlPermanentCity").empty().append(option);
                if (IsSameAsPermanentAddress) {
                    $("#ddlCommunicationCity").empty().append(option);
                }
            }
            else {
                var ajaxrequest = $.ajax({
                    url: '@Url.Action("GetCityByStateID", "Home")',
                    type: "POST",
                    datatype: "json",
                    data: { StateID: val },
                    async: false,
                    beforeSend: function () {
                        $("#LoadingImage").show();
                    }
                });
                ajaxrequest.done(function (result) {
                    if (result != null) {
                        var option = '<option value="">Select</option>';
                        for (var i = 0; i < result.length; i++) {
                            option += '<option value="' + result[i].Value + '">' + result[i].Text + '</option>';
                        }
                        $("#ddlPermanentCity").empty().append(option);

                        if (IsSameAsPermanentAddress) {
                            $("#ddlCommunicationCity").empty().append(option);
                            $("#ddlCommunicationState").val(val);
                        }
                    }
                    else {

                    }
                });
                ajaxrequest.fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                });
            }
        });

        $("#ddlPermanentCity").on('change', function (e) {
            var IsSameAsPermanentAddress = $('#chkIsSameAsPermanentAddress').is(":checked");
            var val = $(this).val();
            if (val == "") {
                if (IsSameAsPermanentAddress) {
                    $("#ddlCommunicationCity").val("");
                }
            }
            else {
                if (IsSameAsPermanentAddress) {
                    $("#ddlCommunicationCity").html($("#ddlPermanentCity").html());
                    $("#ddlCommunicationCity").val(val);
                }
            }
        });

        //////////////////////////////////////////////////////////////////////////////////////////////



        ///////////////////////////////////// COMMUNICATION LOCATION DROPDOWN ///////////////////////////
        $("#ddlCommunicationState").on('change', function (e) {
            var IsSameAsPermanentAddress = $('#chkIsSameAsPermanentAddress').is(":checked");
            var val = $(this).val();
            var option = '<option value="">Select</option>';
            if (val == "") {
                $("#ddlCommunicationCity").empty().append(option);
            }
            else {
                var ajaxrequest = $.ajax({
                    url: '@Url.Action("GetCityByStateID", "Home")',
                    type: "POST",
                    datatype: "json",
                    data: { StateID: val },
                    async: false,
                    beforeSend: function () {
                        $("#LoadingImage").show();
                    }
                });
                ajaxrequest.done(function (result) {
                    if (result != null) {
                        var option = '<option value="">Select</option>';
                        for (var i = 0; i < result.length; i++) {
                            option += '<option value="' + result[i].Value + '">' + result[i].Text + '</option>';
                        }
                        $("#ddlCommunicationCity").empty().append(option);
                    }
                    else {

                    }
                });
                ajaxrequest.fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                });
            }
        });
        //////////////////////////////////////////////////////////////////////////////////////////////



        ////////////////////////////// Product Dropdown Change ////////////////////////////
        $("#ddlProduct").on('change', function (e) {
            var val = $(this).val();
            $("#txtSegment").val('');
            var option = '<option value="">Select</option>';
            if (val == "") {
                $("#ddlPlan").empty().append(option);
                $("#ddlMake").empty().append(option);
                $("#ddlModel").empty().append(option);
                $("#txtPlanAmount").val("");
                $("#txtGSTAmount").val("");
                $("#txtTotalPlanAmount").val("");
                
            }
            else {
                var ajaxrequest = $.ajax({
                    url: '@Url.Action("GetMakeByProductIDForUser", "Home")',
                    type: "POST",
                    datatype: "json",
                    data: { ProductID: val },
                    async: false,
                    beforeSend: function () {
                        $("#LoadingImage").show();
                    }
                });
                ajaxrequest.done(function (result) {
                    if (result != null) {

                        $("#ddlModel").empty().append('<option value="">Select</option>');
                        $("#txtPlanAmount").val("");
                        $("#txtGSTAmount").val("");
                        $("#txtTotalPlanAmount").val("");

                        var optionSelect = '<option value="">Select</option>';
                        var option = "";
                        if (result.makelist != null) {
                            option = "";
                            $("#ddlMake").empty().append(optionSelect);
                            for (var i = 0; i < result.makelist.length; i++) {
                                option += '<option value="' + result.makelist[i].Value + '">' + result.makelist[i].Text + '</option>';
                            }
                            $("#ddlMake").append(option);
                        }

                        if (result.planlist != null) {
                            option = "";
                            $("#ddlPlan").empty().append(optionSelect);
                            for (var i = 0; i < result.planlist.length; i++) {
                                option += '<option value="' + result.planlist[i].Value + '">' + result.planlist[i].Text + '</option>';
                            }
                            $("#ddlPlan").append(option);
                        }
                    }
                    else {

                    }
                });
                ajaxrequest.fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                });
            }
        });
        ///////////////////////////////////////////////////////////////////////////////////////


        ////////////////////////////// Make Dropdown Change ////////////////////////////
        $("#ddlMake").on('change', function (e) {
            var val = $(this).val();
            var option = '<option value="">Select</option>';
            $("#txtSegment").val('');
            if (val == "") {
                $("#ddlModel").empty().append(option);
            }
            else {
                var ajaxrequest = $.ajax({
                    url: '@Url.Action("GetModelByMakeIDForUser", "Home")',
                    type: "POST",
                    datatype: "json",
                    data: { MakeID: val },
                    async: false,
                    beforeSend: function () {
                        $("#LoadingImage").show();
                    }
                });
                ajaxrequest.done(function (result) {
                    if (result != null) {
                        var optionSelect = '<option value="">Select</option>';
                        var option = "";
                        if (result.modellist != null) {
                            option = "";
                            $("#ddlModel").empty().append('<option value="">Select</option>');
                            for (var i = 0; i < result.modellist.length; i++) {
                                option += '<option value="' + result.modellist[i].Value + '">' + result.modellist[i].Text + '</option>';
                            }
                            $("#ddlModel").append(option);
                        }
                    }
                    else {

                    }
                });
                ajaxrequest.fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                });
            }
        });
        ///////////////////////////////////////////////////////////////////////////////////////




        ////////////////////////////// Plan Dropdown Change ////////////////////////////
        $("#ddlPlan").on('change', function (e) {
            var val = $(this).val();
            if (val == "") {
                $("#txtPlanAmount").val("");
            }
            else {
                var ajaxrequest = $.ajax({
                    url: '@Url.Action("GetPlanAmountByPlanID", "Home")',
                    type: "POST",
                    datatype: "json",
                    data: { PlanID: val },
                    async: false,
                    beforeSend: function () {
                        $("#LoadingImage").show();
                    }
                });
                ajaxrequest.done(function (result) {

                    if (result.message == '@CrossCutting_Constant.Success') {
                        $("#txtPlanAmount").val(result.Amount);
                        $("#txtGSTAmount").val(result.GST);
                        $("#txtTotalPlanAmount").val(result.Total);
                        $('#hdnYearValidity').val(result.Year);
                        setCoverEndDate(result.Year);

                    }
                    else {
                        $("#txtPlanAmount").val("");
                        $("#txtGSTAmount").val("");
                        $("#txtTotalPlanAmount").val("");
                    }


                });
                ajaxrequest.fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                });
            }
        });
        ///////////////////////////////////////////////////////////////////////////////////////

        ////////////////////////////// Model Dropdown Change ////////////////////////////
        $("#ddlModel").on('change', function (e) {
            $("#txtSegment").val('');
            var val = $(this).val();
            if (val == "") {

            }
            else {
                var ajaxrequest = $.ajax({
                    url: '@Url.Action("GetSegmentByModel", "Home")',
                    type: "POST",
                    datatype: "json",
                    data: { ModelID: val },
                    async: false,
                    beforeSend: function () {
                        $("#LoadingImage").show();
                    }
                });
                ajaxrequest.done(function (result) {
                    if (result != null) {
                        if (result.Segment != null) {
                            $("#txtSegment").val(result.Segment);
                        }
                    }
                });
                ajaxrequest.fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                });
            }
        });
        ///////////////////////////////////////////////////////////////////////////////////////



        ///////////////////////////////////// Submit /////////////////////////////////////////
        $("#btnSaveTransaction").click(function () {
            var valid = $("#TransactionForm").validationEngine('validate');
            if (valid) {

                var payOption = ($('#ddlPayment').val() == '0')
                if (payOption == 0 || payOption == '0') {

                    $.ajax({
                        url: '@Url.Action("SaveIssueCertificate", "WebPortal")',
                        data: $('#TransactionForm').serialize(),
                        datatype: 'json',
                        type: "POST",
                        beforeSend: function () {
                            $("#LoadingImage").show();
                        },
                        success: function (result) {

                            if (result.status == '@CrossCutting_Constant.Success') {

                                //debugger;
                                var path = "";
                                var message = "";

                                var paymentreftag = "";

                                if (result.paymentrefno != null && result.paymentrefno != "") {
                                    paymentreftag = "Payment Reference Number : <strong>" + result.paymentrefno + "</strong><br/>";
                                }

                                if (result.path != null && result.path != "") {
                                    path = result.path.replace("\\", "/");
                                    path = path.replace("~", "../..");
                                }

                                if (path != "") {
                                    var anchor = "<a href='" + path + "' target='_blank'>Click Here</a>";
                                    message = "Certificate Issued Successfully. <br/> Certification Number : <strong>" + result.certificateno + "</strong><br/>" + paymentreftag + " Download OR Print Certificate : " + anchor;
                                }
                                else {
                                    message = "Certificate Issued Successfully. <br/> Certification Number : <strong>" + result.certificateno + "</strong><br/>" + paymentreftag + " Certificate Not Generated Yet. To Download Certificate, Go To Download Menu..";
                                }

                                if (result.IsPayNow) {
                                    if (result.vPayResponse.Flag) {
                                        window.location.href = result.vPayResponse.vPayTransactionURL;
                                    }
                                    else {
                                        message = message + "<br/> " + result.vPayResponse.Response;
                                        message = message + "<br/> Sorry!..Unable to process the payment request."
                                    }
                                }

                                //BootstrapDialog.show({
                                //    type: BootstrapDialog.TYPE_SUCCESS,
                                //    draggable: true,
                                //    closable: false,
                                //    title: "Success",
                                //    message: message,
                                //    buttons: [{
                                //        label: 'OK',
                                //        action: function (dialog) {
                                //            window.location.href = "../../WebPortal/index";
                                //            dialog.close();
                                //        }
                                //    }]
                                //});

                            }
                            else {
                                AlertMessage("//Please Try Again", "5000", "fail");
                            }
                        }
                    });



                }
                else {
                    AlertMessage("// Please select Payment option", "5000", "fail");
                }


            }
            else {
                $("#TransactionForm").validationEngine('validate');
            }
        });

        //////////////////////////////////////////////////////////////////////////////////////

    });


    function DDMMYYYY_TO_MMDDYYYY(DDMMYYYY) {
        var splitDate = DDMMYYYY.split('/');
        var MMDDYYYY = splitDate[1] + "/" + splitDate[0] + "/" + splitDate[2];
        return MMDDYYYY;
    }


</script>
