﻿
@model GlobalAssure.Models.OnlinePaymentResponseModel

@{
    Layout = "~/Views/Shared/_LayoutPolicyBazaar.cshtml";
    ViewBag.Title = "Thank You";
}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default" id="pnlOfficeDetails">
        <div class="panel-heading" role="tab" id="headingOne">
            @*<h5 class="panel-title text-left">
                    <i class="icon-home"></i>
                    <a data-toggle="collapse" data-target="#collapseOne">
                        Online Payment
                    </a>
                </h5>*@
        </div>

        <div id="collapseOne" class="panel-collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">

                @if (Model.Status == CrossCutting_Constant.Success)
                {
                    <h1 class="main-title">Thank You</h1>
                    <p> Payment Completed Succesfully, Payment Reference Number : @Model.PaymentReferenceNo</p>
                }
                else
                {
                    <h5 class="main-title">Sorry!..Unable to Process the request  : @Model.Remark </h5>
                }
                <div class="col-lg-16 col-sm-16">
                    <div class="col-lg-8 col-sm-8" style="margin-left:300px;">
                        @*<input type="button" value="Home" class="btn btn-primary req-btn-me" style="width:100px;" id="btnClear" onclick="GoHome()" />*@
                        @if (Model.Status == CrossCutting_Constant.Success && Convert.ToBoolean(TempData["payLater"]) == false && !string.IsNullOrEmpty(Model.CertificateNo))
                        {
                            <input type="button" value="Download Certificate" class="btn btn-primary req-btn-me" style="width:200px;" id="btnClear" onclick="GoCertificate('@Model.CertificateNo','@Model.CertificatePath','@Model.PaymentReferenceNo')" />
                        }

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    @*function GoHome() {
        window.location.href = '@Url.Content("~/Home/Index")';
    }*@

    function GoBacktoPayment() {
        var url = "/Home/MakePayment";
        window.location.href = url;
    }
    function GoCertificate(certificateno, path, paymentreftag) {

        if (path != null && path != "") {
            path = path.replace("\\", "/");
            path = path.replace("~", "../..");
        }
        var anchor = "<a href='" + path + "' target='_blank'>Click Here</a>";
        message = "Certificate Issued Successfully. <br/> Certification Number : <strong>" + certificateno + "</strong><br/>" + paymentreftag + " Download OR Print Certificate : " + anchor;


        BootstrapDialog.show({
            type: BootstrapDialog.TYPE_SUCCESS,
            draggable: true,
            closable: false,
            title: "Success",
            message: message,
            //buttons: [{
            //    label: 'OK',
            //    action: function (dialog) {
            //        window.location.href = "../../Home/IssueCertificate";
            //        dialog.close();
            //    }
            //}]
        });

    }




</script>


